{{#partial "scripts"}}
<script>
    document.documentElement.classList.add('bg-403');
</script>
{{/partial}}
{{#partial "page"}}
    <section class="container flex-page d-flex align-items-center justify-content-center pt-0">
        <div class="row text-left text-sm-center justify-content-center align-items-center">
            <div class="col">
                <h1 class="display mb-4">
                    {{lang 'forbidden.page_heading'}}
                </h1>
                <p>
                    {{lang 'forbidden.if_you_were_signed_in'}}
                    <a href="{{urls.auth.login}}">{{lang 'forbidden.sign_in'}}</a>
                    {{lang 'forbidden.to_continue'}}
                </p>
                <div class="max-w-500 mx-auto">
                    {{> components/common/search-box}}
                </div>
            </div>
        </div>
    </section>
{{/partial}}
{{> layout/base}}