{{#partial "scripts"}}
<script>
    document.documentElement.classList.add('bg-500');
</script>
{{/partial}}
{{#partial "page"}}
    <section class="container flex-page d-flex align-items-center justify-content-center pt-0">
        <div class="row text-left text-sm-center justify-content-center align-items-center">
            <div class="col">
                <h1 class="display mb-4">
                    {{lang 'server_error.page_heading'}}
                    <br>
                        <small>
                            {{lang 'server_error.message'}}
                        </small>
                </h1>
            </div>
        </div>
    </section>
{{/partial}}
{{> layout/base}}