.products.swiper-container {
    padding: 1rem 0;
    @media (min-width: 1025px) {
        padding: 2rem 0;
        overflow: visible;
    }
    @media (max-width: 1024px) {
        /*background: #F5F5F5;*/
    }
    & > .swiper-wrapper > .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem;
        @media (min-width: 1025px) {
            padding: 1rem;
        }
        width: calc(100vw - 4rem);
        max-width: 320px;
        height: calc(100vw - 4rem);
        max-height: 370px;
        & .card--product {
            position: relative;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
            padding: 1rem;
            background: #fff;
            box-shadow: none;
            border-radius: 1rem;
            width: 100%;
            height: 100%;
            box-shadow: 0 25px 99px 0 rgba(10,22,31,0.05);
            &-content {
                width: 100%;
                height: 100%;
                max-height: calc(50% - 1rem);
                padding-top: 2rem;
                display: flex;
                justify-content: space-between;
                align-self: flex-end;
                flex-direction: column;
                & h5, h6 {
                    padding: 0;
                }
                & h5 {
                    margin: 0;
                    font-size: 1rem;
                    font-weight: 400;
                }
                & h6 {
                    margin: 0 0 0.25rem 0;
                    font-size: 1rem;
                    font-weight: 300;
                }
                & h5 a, & h6 a {
                    color: #424242;
                }
                & h6 a {
                    opacity: 0.6;
                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
            &-row {
                width: 100%;
                display: flex;
                &:first-child {
                    flex-direction: column;
                    align-self: flex-start;
                    justify-self: flex-start;
                }
                &:last-child {
                    flex-direction: row;
                    align-self: flex-end;
                    justify-self: flex-end;
                    justify-content: space-between;
                }
                &_column {
                    display: flex;
                    flex-direction: column;
                    &:first-child {
                        align-self: flex-start;
                    }
                    &:last-child {
                        margin-left: auto;
                        align-self: flex-end;
                    }
                }
            }
            &-rating {
                
            }
            &-price {
                display: flex;
                align-items: center;
                color: #21ba45;
                font-size: 1.25rem;
                & .price--rrp, .price--non-sale, .price--discounted {
                    color: #dc3545!important;
                    margin-right: 0.5rem;
                }
            }
            &-btn {
                &.atc svg {
                    fill: #21ba45;
                }
                &.oos svg {
                    fill: #616161;
                }
                & svg {
                    width: 2rem;
                    height: 2rem;
                }
            }
        }
    }
}

.nav-carousel {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    overflow: hidden;
    & > .swiper-wrapper > .swiper-slide {
        display: flex;
        width: auto!important;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        border-right: 1px solid #ccc;
    }
}