<nav id="cartMenu" class="primary sidebar d-none" aria-hidden="true">
        <div class="row d-flex align-items-start h-100">
            <div class="col-12">
                <div class="ui inverted vertical black segment">
                    <strong>
                        Here we can make announcements!
                    </strong>
                </div>
                <div id="CartProducts"></div>
                <div class="row">
                    <div class="col-4">

                    </div>
                    <div class="col-6">
                        
                    </div>
                    <div class="col-2">
                        $32.00
                    </div>
                </div>
            </div>
            <div class="col-12 align-self-end">
                <div class="w-100 mt-auto">
                    <div class="row px-2">
                        <div class="col-4">
                            <a href="#" class="ui fluid blue button">
                                PayPal
                            </a>
                        </div>
                        <div class="col-8">
                            <a href="#" class="ui fluid green button">
                                Checkout <i class="fas fa-angle-double-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</nav>