---
brand:
    products:
        limit: {{theme_settings.brandpage_products_per_page}}
---
{{inject "brandProductsPerPage" theme_settings.brandpage_products_per_page}}
{{#partial "head"}}
    {{#if pagination.brand.previous}}
        <link rel="prev" href="{{pagination.brand.previous}}">
    {{/if}}
    {{#if pagination.brand.next}}
        <link rel="next" href="{{pagination.brand.next}}">
    {{/if}}
{{/partial}}

{{#partial "header"}} 
    <header class="border-bottom border-moss">
        <div class="category-title bg-gray-100 pb-5 d-flex justify-content-end align-items-end">
            <div class="container mt-10">
                {{#if brand.name '==' 'BABO Botanicals'}}
                    <img class="ui medium image img-fluid" src="https://triad.imgix.net/os/i/brands/babo-botanicals.svg" alt="{{brand.name}}" title="{{brand.name}}">
                {{else if brand.name '==' 'Babo Botanicals'}}
                    <img class="ui medium image img-fluid" src="https://triad.imgix.net/os/i/brands/babo-botanicals.svg" alt="{{brand.name}}" title="{{brand.name}}">
                {{else if brand.name '==' 'Bambo Nature'}}
                    <img class="ui medium image img-fluid" src="https://triad.imgix.net/os/i/brands/bambo-nature.svg" alt="{{brand.name}}" title="{{brand.name}}">
                {{else if brand.name '==' 'Boiron'}}
                    <img class="ui medium image img-fluid" src="https://triad.imgix.net/os/i/brands/boiron.png" alt="{{brand.name}}" title="{{brand.name}}">
                    {{else if brand.name '==' 'Crinkle Cloth'}}
                    <img class="ui medium image img-fluid" src="https://triad.imgix.net/os/i/brands/crinkle-cloth.svg" alt="{{brand.name}}" title="{{brand.name}}">
                    {{else if brand.name '==' 'Day One by Organic Start'}}
                    <img class="ui medium image img-fluid" src="https://triad.imgix.net/os/i/brands/day-one.svg" alt="{{brand.name}}" title="{{brand.name}}">
                {{else if brand.name '==' 'Earth Mama Organics'}}
                    <img class="ui medium image img-fluid" src="https://triad.imgix.net/os/i/brands/earth-mama.svg" alt="{{brand.name}}" title="{{brand.name}}">
                {{else if brand.name '==' 'erbaviva'}}
                    <img class="ui medium image img-fluid" src="https://triad.imgix.net/os/i/brands/erbaviva.png?w=320" alt="{{brand.name}}" title="{{brand.name}}">
                {{else if brand.name '==' 'Green Goo by Sierra Sage'}}
                    <img class="ui medium image img-fluid" src="https://triad.imgix.net/os/i/brands/green-goo.svg" alt="{{brand.name}}" title="{{brand.name}}">
                {{else if brand.name '==' 'HiPP'}}
                    <img class="ui medium image img-fluid" src="https://triad.imgix.net/os/i/brands/hipp.svg" alt="{{brand.name}}" title="{{brand.name}}">
                {{else if brand.name '==' 'Holle'}}
                    <img class="ui medium image img-fluid" src="https://triad.imgix.net/os/i/brands/holle.svg" alt="{{brand.name}}" title="{{brand.name}}">
                {{else if brand.name '==' "Jack N' Jill"}}
                    <img class="ui medium image img-fluid" src="https://triad.imgix.net/os/i/brands/jack-n-jill.svg" alt="{{brand.name}}" title="{{brand.name}}">
                {{else if brand.name '==' 'Kabrita'}}
                    <img class="ui medium image img-fluid" src="https://triad.imgix.net/os/i/brands/kabrita.svg" alt="{{brand.name}}" title="{{brand.name}}">
                {{else if brand.name '==' 'Lac Larde'}}
                    <img class="ui medium image img-fluid" src="https://triad.imgix.net/os/i/brands/lac-larde.svg" alt="{{brand.name}}" title="{{brand.name}}">
                {{else if brand.name '==' "Lafe's Natural BodyCare"}}
                    <img class="ui medium image img-fluid" src="https://triad.imgix.net/os/i/brands/lafes.svg" alt="{{brand.name}}" title="{{brand.name}}">
                {{else if brand.name '==' 'Lebenswert'}}
                    <img class="ui medium image img-fluid" src="https://triad.imgix.net/os/i/brands/lebenswert.svg" alt="{{brand.name}}" title="{{brand.name}}">
                {{else if brand.name '==' 'Lebenswert Bio'}}
                    <img class="ui medium image img-fluid" src="https://triad.imgix.net/os/i/brands/lebenswert.svg" alt="{{brand.name}}" title="{{brand.name}}">
                {{else if brand.name '==' 'Little Zi'}}
                    <img class="ui medium image img-fluid" src="https://triad.imgix.net/os/i/brands/little-zi.svg" alt="{{brand.name}}" title="{{brand.name}}">
                {{else if brand.name '==' 'Loulouka'}}
                    <img class="ui medium image img-fluid" src="https://triad.imgix.net/os/i/brands/loulouka.svg" alt="{{brand.name}}" title="{{brand.name}}">
                {{else if brand.name '==' 'Mambino Organics'}}
                    <img class="ui medium image img-fluid" src="https://triad.imgix.net/os/i/brands/mambino.svg" alt="{{brand.name}}" title="{{brand.name}}">
                {{else if brand.name '==' 'NANNYCare'}}
                    <img class="ui medium image img-fluid" src="https://triad.imgix.net/os/i/brands/nannycare.svg" alt="{{brand.name}}" title="{{brand.name}}">
                {{else if brand.name '==' 'Natures Paradise Organics'}}
                    <img class="ui medium image img-fluid" src="https://triad.imgix.net/os/i/brands/natures-paradise.svg" alt="{{brand.name}}" title="{{brand.name}}">
                {{else if brand.name '==' 'Organic Start'}}
                    <img class="ui medium image img-fluid" src="https://triad.imgix.net/os/i/logo.svg" alt="{{brand.name}}" title="{{brand.name}}">
                {{else if brand.name '==' 'Powder Nest'}}
                    <img class="ui medium image img-fluid" src="https://triad.imgix.net/pn/i/logo-green.svg" alt="{{brand.name}}" title="{{brand.name}}">
                {{else if brand.name '==' 'RADIUS'}}
                    <img class="ui medium image img-fluid" src="https://triad.imgix.net/os/i/brands/radius.svg" alt="{{brand.name}}" title="{{brand.name}}">
                {{else if brand.name '==' 'Rubbabu'}}
                    <img class="ui medium image img-fluid" src="https://triad.imgix.net/os/i/brands/rubbabu.svg" alt="{{brand.name}}" title="{{brand.name}}">
                {{else if brand.name '==' 'Serenity Kids'}}
                    <img class="mx-auto img-fluid" src="https://triad.imgix.net/os/i/brands/serenity-kids.svg" alt="{{brand.name}}" title="{{brand.name}}">
                {{else if brand.name '==' 'Topfer'}}
                    <img class="ui medium image img-fluid" src="https://triad.imgix.net/os/i/brands/topfer.svg" alt="{{brand.name}}" title="{{brand.name}}">
                {{else if brand.name '==' 'ZNYA'}}
                    <img class="ui medium image img-fluid" src="https://triad.imgix.net/os/i/brands/znya.svg" alt="{{brand.name}}" title="{{brand.name}}">
                {{else}}
                    <h1 class="display-3 animated fadeInUp slow text-gray-800">{{brand.name}}</h1>
                {{/if}}
            </div>
        </div>
        <div class="category-breadcrumbs bg-gray-300 container-fluid">
            <div class="container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-transparent py-2 p-0 m-0 border-0" itemscope itemtype="http://schema.org/BreadcrumbList">
                        {{#unless theme_settings.hide_breadcrumbs }}
                            {{#each breadcrumbs}}
                                {{#if name "==" "Home"}}
                                    <li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                                        <a href="https://organicstart.com/" class="breadcrumb-label" itemprop="item"><span itemprop="name">Home</span></a>
                                        <meta itemprop="position" content="{{add @index 1}}">
                                    </li>
                                    <li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                                        <a href="https://organicstart.com/brands/" class="breadcrumb-label" itemprop="item"><span itemprop="name">Brands</span></a>
                                        <meta itemprop="position" content="2">
                                    </li>
                                {{else}}
                                    <li class="breadcrumb-item{{#if @last}} active{{/if}}" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                        {{#or @last (if url "==" null)}}
                                            <meta itemprop="item" content="{{url}}">
                                            <span class="breadcrumb-label" itemprop="name">{{capitalizeAll name}}</span>
                                        {{else}}
                                            <a href="{{url}}" class="breadcrumb-label" itemprop="item"><span itemprop="name">{{capitalizeAll name}}</span></a>
                                        {{/or}}
                                        <meta itemprop="position" content="3" />
                                    </li>
                                {{/if}}
                            {{/each}}
                        {{/unless}}
                    </ol>
                </nav>
            </div>
        </div>
    </header>
{{/partial}}

{{#partial "scripts"}}
    <script>
        oSx.Swipes.Subcategories();
    </script>
{{/partial}}

{{#partial "page"}}
    {{#if brand.faceted_search_enabled}}
        {{> components/faceted-search/index brand}}
    {{else}}
        {{#if shop_by_brand}}
            <div class="container mt-4 d-none">
                <div class="category-carousel">
                    <div class="title ml-1 mb-1">More Brands</div>
                    <div class="vertical-align-middle nav-sub carousel w-100">
                        {{#each shop_by_brand}}
                            <a class="nav-item link-unstyled" href="{{url}}" alt="{{name}}" title="{{name}}">{{name}}</a>
                        {{/each}}
                        <a class="nav-item link-unstyled" href="{{urls.brands}}">{{lang 'common.view_all'}} <i class="fas fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
        {{/if}}
    {{/if}}
    {{{snippet 'brand'}}}
    {{#if brand.products}}
        {{> components/products/filter sort=pagination.brand.sort}}
        <form action="{{urls.compare}}" method='POST' {{#if settings.data_tag_enabled}} data-list-name="Brand: {{brand.name}}" {{/if}} data-product-compare>
            {{#if theme_settings.product_list_display_mode '===' 'grid'}}
                {{> os/components/products/grid products=brand.products show_compare=brand.show_compare theme_settings=theme_settings event="list"}}
            {{else}}
                {{> os/components/products/list products=brand.products show_compare=brand.show_compare theme_settings=theme_settings event="list"}}
            {{/if}}
        </form>

        {{> os/components/common/paginator pagination.brand}}
    {{else}}
        <div class="container mt-4">
            <p>{{lang 'brands.no_products'}}</p>
        </div>
    {{/if}}
{{/partial}}
{{> layout/base}}
