---
brands:
---

{{#partial "page"}}

<div class="container">

    <h1 class="display-1" data-cart-page-title>{{{lang 'brand.label'}}}</h1>
    {{> os/components/common/breadcrumbs breadcrumbs=breadcrumbs}}
    <div class="row mt-4 justify-content-center align-items-center">
        {{#each brands}}
            <div class="col-3 p-2 p-lg-4">
                <a href="{{url}}">
                    {{#if name '==' 'Babo Botanicals'}}
                        <img class="mx-auto img-fluid" src="https://triad.imgix.net/os/i/brands/babo-botanicals.svg" alt="{{name}}" title="{{name}}">
                    {{else if name '==' 'Bambo Nature'}}
                        <img class="mx-auto img-fluid" src="https://triad.imgix.net/os/i/brands/bambo-nature.svg" alt="{{name}}" title="{{name}}">
                    {{else if name '==' 'Boiron'}}
                        <img class="mx-auto img-fluid" src="https://triad.imgix.net/os/i/brands/boiron.png?w=320" alt="{{name}}" title="{{name}}">
                    {{else if name '==' 'Crinkle Cloth'}}
                        <img class="mx-auto img-fluid" src="https://triad.imgix.net/os/i/brands/crinkle-cloth.svg" alt="{{name}}" title="{{name}}">
                    {{else if name '==' 'Day One by Organic Start'}}
                        <img class="mx-auto img-fluid" src="https://triad.imgix.net/os/i/brands/day-one.svg" alt="{{name}}" title="{{name}}">
                    {{else if name '==' 'Earth Mama Organics'}}
                        <img class="mx-auto img-fluid" src="https://triad.imgix.net/os/i/brands/earth-mama.svg" alt="{{name}}" title="{{name}}">
                    {{else if name '==' 'erbaviva'}}
                        <img class="mx-auto img-fluid" src="https://triad.imgix.net/os/i/brands/erbaviva.png?w=320" alt="{{name}}" title="{{name}}">
                    {{else if name '==' 'Green Goo by Sierra Sage'}}
                        <img class="mx-auto img-fluid" src="https://triad.imgix.net/os/i/brands/green-goo.svg" alt="{{name}}" title="{{name}}">
                    {{else if name '==' 'HiPP'}}
                        <img class="mx-auto img-fluid" src="https://triad.imgix.net/os/i/brands/hipp.svg" alt="{{name}}" title="{{name}}">
                    {{else if name '==' 'Holle'}}
                        <img class="mx-auto img-fluid" src="https://triad.imgix.net/os/i/brands/holle.svg" alt="{{name}}" title="{{name}}">
                    {{else if name '==' "Jack N' Jill"}}
                        <img class="mx-auto img-fluid" src="https://triad.imgix.net/os/i/brands/jack-n-jill.svg" alt="{{name}}" title="{{name}}">
                    {{else if name '==' 'Kabrita'}}
                        <img class="mx-auto img-fluid" src="https://triad.imgix.net/os/i/brands/kabrita.svg" alt="{{name}}" title="{{name}}">
                    {{else if name '==' 'Lac Larde'}}
                        <img class="mx-auto img-fluid" src="https://triad.imgix.net/os/i/brands/lac-larde.svg" alt="{{name}}" title="{{name}}">
                    {{else if name '==' "Lafe's Natural BodyCare"}}
                        <img class="mx-auto img-fluid" src="https://triad.imgix.net/os/i/brands/lafes.svg" alt="{{name}}" title="{{name}}">
                    {{else if name '==' 'Lebenswert'}}
                        <img class="mx-auto img-fluid" src="https://triad.imgix.net/os/i/brands/lebenswert.svg" alt="{{name}}" title="{{name}}">
                    {{else if name '==' 'Lebenswert Bio'}}
                        <img class="mx-auto img-fluid" src="https://triad.imgix.net/os/i/brands/lebenswert.svg" alt="{{name}}" title="{{name}}">
                    {{else if name '==' 'Little Zi'}}
                        <img class="mx-auto img-fluid" src="https://triad.imgix.net/os/i/brands/little-zi.svg" alt="{{name}}" title="{{name}}">
                    {{else if name '==' 'Loulouka'}}
                        <img class="mx-auto img-fluid" src="https://triad.imgix.net/os/i/brands/loulouka.svg" alt="{{name}}" title="{{name}}">
                    {{else if name '==' 'Mambino Organics'}}
                        <img class="mx-auto img-fluid" src="https://triad.imgix.net/os/i/brands/mambino.svg" alt="{{name}}" title="{{name}}">
                    {{else if name '==' 'NANNYCare'}}
                        <img class="mx-auto img-fluid" src="https://triad.imgix.net/os/i/brands/nannycare.svg" alt="{{name}}" title="{{name}}">
                    {{else if name '==' 'Natures Paradise Organics'}}
                        <img class="mx-auto img-fluid" src="https://triad.imgix.net/os/i/brands/natures-paradise.svg" alt="{{name}}" title="{{name}}">
                    {{else if name '==' 'Organic Start'}}
                        <img class="mx-auto img-fluid" src="https://triad.imgix.net/os/i/logo.svg" alt="{{name}}" title="{{name}}">
                    {{else if name '==' 'Powder Nest'}}
                        <img class="mx-auto img-fluid" src="https://triad.imgix.net/pn/i/logo-green.svg" alt="{{name}}" title="{{name}}">
                    {{else if name '==' 'RADIUS'}}
                        <img class="mx-auto img-fluid" src="https://triad.imgix.net/os/i/brands/radius.svg" alt="{{name}}" title="{{name}}">
                    {{else if name '==' 'Rubbabu'}}
                        <img class="mx-auto img-fluid" src="https://triad.imgix.net/os/i/brands/rubbabu.svg" alt="{{name}}" title="{{name}}">
                    {{else if name '==' 'Serenity Kids'}}
                        <img class="mx-auto img-fluid" src="https://triad.imgix.net/os/i/brands/serenity-kids.svg" alt="{{name}}" title="{{name}}">
                    {{else if name '==' 'Topfer'}}
                        <img class="mx-auto img-fluid" src="https://triad.imgix.net/os/i/brands/topfer.svg" alt="{{name}}" title="{{name}}">
                    {{else if name '==' 'ZNYA'}}
                        <img class="mx-auto img-fluid" src="https://triad.imgix.net/os/i/brands/znya.svg" alt="{{name}}" title="{{name}}">
                    {{else}}
                        <img class="mx-auto img-fluid lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{getImage image 'brand_size' (cdn ../theme_settings.default_image_brand)}}" alt="{{name}}" title="{{name}}">
                        {{name}}
                    {{/if}}
                </a>
            </div>
        {{/each}}
    </div>
    {{> components/common/paginator pagination.brands}}
</div>
{{/partial}}
{{> layout/base}}
