---
category:
    shop_by_price: true
    products:
        limit: {{theme_settings.categorypage_products_per_page}}
---
{{inject "categoryProductsPerPage" theme_settings.categorypage_products_per_page}}

{{#partial "head"}}
    {{#if pagination.category.previous}}
        <link rel="prev" href="{{pagination.category.previous}}">
    {{/if}}
    {{#if pagination.category.next}}
        <link rel="next" href="{{pagination.category.next}}">
    {{/if}}
{{/partial}}

{{#partial "header"}} 
    <header>
        {{> os/components/common/title title=category.name}}
        {{> os/components/common/breadcrumbs breadcrumbs=breadcrumbs}}
    </header>
{{/partial}}

{{#partial "page"}}

    {{#if category.image}}
        <img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{getImage category.image 'zoom_size'}}">
    {{/if}}

    {{{category.description}}}

    {{{snippet 'categories'}}}
    
    <div class="container mt-4">
        <div class="row">
            <aside class="col-12 col-lg-3 d-none d-lg-block" id="faceted-search-container">
                {{#if category.faceted_search_enabled}}
                    {{> os/components/category/sidebar}}
                {{else if category.subcategories}}
                    {{> os/components/category/sidebar}}
                {{else if category.shop_by_price}}
                    {{#if theme_settings.shop_by_price_visibility}}
                        {{> os/components/category/sidebar}}
                    {{/if}}
                {{/if}}
            </aside>
            <main class="col-12 col-lg-9 page-content" id="product-listing-container">
                {{#if category.products}}
                    {{> os/components/category/product-listing}}
                {{else}}
                    <p>{{lang 'categories.no_products'}}</p>
                {{/if}}
            </main>
        </div>
    </div>
{{/partial}}
{{> layout/base}}
