---
category:
    shop_by_price: true
    products:
        limit: {{theme_settings.categorypage_products_per_page}}
---
{{inject "categoryProductsPerPage" theme_settings.categorypage_products_per_page}}

{{#partial "head"}}
    {{#if pagination.category.previous}}
        <link rel="prev" href="{{pagination.category.previous}}">
    {{/if}}
    {{#if pagination.category.next}}
        <link rel="next" href="{{pagination.category.next}}">
    {{/if}}
{{/partial}}

{{#partial "scripts"}}
    <script>
        oSx.Swipes.Subcategories();
    </script>
{{/partial}}

{{#partial "header"}} 
    <header class="border-bottom border-moss bg-{{category.id}}">
        {{#or (if category.name '==' "Clothes") (if category.name '==' "Diapers")}}<div class="floater pt-0"></div><div class="overlay"></div>{{/or}}
        <div class="category-title bg-gray-100 pb-5 d-flex justify-content-end align-items-end">
            <div class="container mt-10">
                {{#if category.name '==' 'BABO Botanicals'}}
                    <img class="ui medium image img-fluid" src="https://triad.imgix.net/os/i/brands/babo-botanicals.svg?s=4b4ff3e2c80b418d531c051bd8e7fb92" alt="{{category.name}}" title="{{category.name}}">
                {{else if category.name '==' 'Bambo Nature'}}
                    <img class="ui medium image img-fluid" src="https://triad.imgix.net/os/i/brands/bambo-nature.svg?s=adcd3d788d027ba363847223fdaf0df1" alt="{{category.name}}" title="{{category.name}}">
                {{else if category.name '==' 'Boiron'}}
                    <img class="ui medium image img-fluid" src="https://triad.imgix.net/os/i/brands/boiron.png?s=fa5a35133ec4349d414a9a53d6854f3c" alt="{{category.name}}" title="{{category.name}}">
                {{else if category.name '==' 'Earth Mama Organics'}}
                    <img class="ui medium image img-fluid" src="https://triad.imgix.net/os/i/brands/earth-mama.svg?s=ea9f3f9e54babd95c07a40430f021a98" alt="{{category.name}}" title="{{category.name}}">
                {{else if category.name '==' 'Green Goo by Sierra Sage'}}
                    <img class="ui medium image img-fluid" src="https://triad.imgix.net/os/i/brands/green-goo.svg?s=f831d707d4c4391f7eb0fa80b066dc83" alt="{{category.name}}" title="{{category.name}}">
                {{else if category.name '==' 'HiPP'}}
                    <img class="ui medium image img-fluid" src="https://triad.imgix.net/os/i/brands/hipp.svg?s=7160e5ccd5b69efeb85fee268e9f485b" alt="{{category.name}}" title="{{category.name}}">
                {{else if category.name '==' 'Holle'}}
                    <img class="ui medium image img-fluid" src="https://triad.imgix.net/os/i/brands/holle.svg?s=b123bd9e536b10e75406fe36be9266ed" alt="{{category.name}}" title="{{category.name}}">
                {{else if category.name '==' "Jack N' Jill"}}
                    <img class="ui medium image img-fluid" src="https://triad.imgix.net/os/i/brands/jack-n-jill.svg?s=284cb198b4f1f705e6eb4b520e96cf98" alt="{{category.name}}" title="{{category.name}}">
                {{else if category.name '==' 'Kabrita'}}
                    <img class="ui medium image img-fluid" src="https://triad.imgix.net/os/i/brands/kabrita.svg?s=44f1fb62b17ce1829c6cdc808f40e4ab" alt="{{category.name}}" title="{{category.name}}">
                {{else if category.name '==' 'Lac Larde'}}
                    <img class="ui medium image img-fluid" src="https://triad.imgix.net/os/i/brands/lac-larde.svg?s=102334fc0d18f3f711cd50be422088e8" alt="{{category.name}}" title="{{category.name}}">
                {{else if category.name '==' "Lafe's Natural BodyCare"}}
                    <img class="ui medium image img-fluid" src="https://triad.imgix.net/os/i/brands/lafes.svg?s=d7a214625ada3feb90d9ed4c3ae6dc30" alt="{{category.name}}" title="{{category.name}}">
                {{else if category.name '==' 'Lebenswert'}}
                    <img class="ui medium image img-fluid" src="https://triad.imgix.net/os/i/brands/lebenswert.svg?s=dbb2a4c762156362afa73484ec44e0ed" alt="{{category.name}}" title="{{category.name}}">
                {{else if category.name '==' 'Lebenswert Bio'}}
                    <img class="ui medium image img-fluid" src="https://triad.imgix.net/os/i/brands/lebenswert.svg?s=dbb2a4c762156362afa73484ec44e0ed" alt="{{category.name}}" title="{{category.name}}">
                {{else if category.name '==' 'Little Zi'}}
                    <img class="ui medium image img-fluid" src="https://triad.imgix.net/os/i/brands/little-zi.svg?s=cf41f10a63a04eadd22e0fa06b371292" alt="{{category.name}}" title="{{category.name}}">
                {{else if category.name '==' 'Loulouka'}}
                    <img class="ui medium image img-fluid" src="https://triad.imgix.net/os/i/brands/loulouka.svg?s=342d469815c89b3355879b98f6d59cb0" alt="{{category.name}}" title="{{category.name}}">
                {{else if category.name '==' 'Mambino Organics'}}
                    <img class="ui medium image img-fluid" src="https://triad.imgix.net/os/i/brands/mambino.svg?s=4dcb9ef20f123a8a064f91a5e91f2ce2" alt="{{category.name}}" title="{{category.name}}">
                {{else if category.name '==' 'NANNYCare'}}
                    <img class="ui medium image img-fluid" src="https://triad.imgix.net/os/i/brands/nannycare.svg?s=7de0f63f8f41c6729007f5b2228aa313" alt="{{category.name}}" title="{{category.name}}">
                {{else if category.name '==' 'Natures Paradise Organics'}}
                    <img class="ui medium image img-fluid" src="https://triad.imgix.net/os/i/brands/natures-paradise.svg?s=881339b98cf31262b0b252e3fd01fec7" alt="{{category.name}}" title="{{category.name}}">
                {{else if category.name '==' 'Organic Start'}}
                    <img class="ui medium image img-fluid" src="https://triad.imgix.net/os/i/logo.svg?s=83f3f5678face7e3f500c8aba1fd41e9" alt="{{category.name}}" title="{{category.name}}">
                {{else if category.name '==' 'RADIUS'}}
                    <img class="ui medium image img-fluid" src="https://triad.imgix.net/os/i/brands/radius.svg?s=0f65a254de07ad07e29bb545c99192d1" alt="{{category.name}}" title="{{category.name}}">
                {{else if category.name '==' 'Rubbabu'}}
                    <img class="ui medium image img-fluid" src="https://triad.imgix.net/os/i/brands/rubbabu.svg?s=11760352deeb4a6f0f71b1bc9c8b1d90" alt="{{category.name}}" title="{{category.name}}">
                {{else if category.name '==' 'Topfer'}}
                    <img class="ui medium image img-fluid" src="https://triad.imgix.net/os/i/brands/topfer.svg?s=dd934f5b38621df83c5b30e4f0bc87de" alt="{{category.name}}" title="{{category.name}}">
                {{else if category.name '==' 'ZNYA'}}
                    <img class="ui medium image img-fluid" src="https://triad.imgix.net/os/i/brands/znya.svg?s=1e97a3534269a62bc2a5648c9afbb00d" alt="{{category.name}}" title="{{category.name}}">
                {{else}}
                    {{#if category.image}}
                        <img class="ui medium image img-fluid" src="{{getImage category.image 'zoom_size'}}" alt="{{category.name}}" title="{{category.name}}">
                    {{else}}
                        {{#or (if category.name '==' "Baby Care") (if category.name '==' "Baby Food") (if category.name '==' "Clothes") (if category.name '==' "Diapers") (if category.name '==' "Toys") (if category.name '==' "Mommy")}}
                            {{> os/components/category/title title=category.name class="display-1" id=category.id}}
                        {{else}}
                            {{> os/components/category/title title=category.name id=category.id}}
                        {{/or}}
                    {{/if}}
                {{/if}}
            </div>
        </div>
        <div class="category-breadcrumbs bg-gray-300 container-fluid">
            {{> os/components/common/breadcrumbs breadcrumbs=breadcrumbs}}
        </div>
    </header>
{{/partial}}

{{#partial "page"}}
    {{#if category.subcategories}}
        <div class="container mt-4">
            <div class="category-carousel">
                <div class="title ml-1 mb-1">Subcategories</div>
                <div class="vertical-align-middle nav-sub carousel w-100">
                    {{#each category.subcategories}}
                        <a class="nav-item link-unstyled" href="{{url}}" alt="{{name}}" title="{{name}}">{{name}}</a>
                    {{/each}}
                </div>
            </div>
        </div>
    {{/if}}

    {{#if category.description}}
        <div class="container my-4">
            {{{category.description}}}
            <div class="ui divider"></div>
        </div>
    {{/if}}

    {{{snippet 'categories'}}}
    
    {{#if category.products}}
        <div class="container mt-4">
            <!--<div class="row">
                <aside class="col-12 col-lg-3" id="faceted-search-container">
                    {{#if category.faceted_search_enabled}}
                        {{> os/components/category/sidebar}}
                    {{else if category.subcategories}}
                        {{> os/components/category/sidebar}}
                    {{else if category.shop_by_price}}
                        {{#if theme_settings.shop_by_price_visibility}}
                            {{> os/components/category/sidebar}}
                        {{/if}}
                    {{/if}}
                </aside>
                <main class="col-12 col-lg-9 page-content" id="product-listing-container">
                    
                </main>
            </div>-->

            {{> os/components/products/filter sort=pagination.category.sort}}

            <form action="{{urls.compare}}" method='POST' {{#if settings.data_tag_enabled}} data-list-name="Category: {{category.name}}" {{/if}} data-product-compare>
                {{#if theme_settings.product_list_display_mode '===' 'grid'}}
                    {{#if settings.data_tag_enabled}}
                        {{> os/components/products/grid products=category.products show_compare=category.show_compare theme_settings=theme_settings event="list" }}
                    {{else}}
                        {{> os/components/products/grid products=category.products show_compare=category.show_compare theme_settings=theme_settings}}
                    {{/if}}
                {{else}}
                    {{#if settings.data_tag_enabled}}
                        {{> os/components/products/list products=category.products show_compare=category.show_compare theme_settings=theme_settings event="list" }}
                    {{else}}
                        {{> os/components/products/list products=category.products show_compare=category.show_compare theme_settings=theme_settings}}
                    {{/if}}
                {{/if}}
            </form>

            {{> os/components/common/paginator pagination.category}}
        </div>
    {{else}}
        <div class="container">
            <h2 class="h4 my-10">{{lang 'categories.no_products'}}</h2>
        </div>
    {{/if}}
{{/partial}}
{{> layout/base}}
