---
category:
    shop_by_price: true
    products:
        limit: {{theme_settings.categorypage_products_per_page}}
---
{{inject "categoryProductsPerPage" theme_settings.categorypage_products_per_page}}

{{#partial "head"}}
    {{#if pagination.category.previous}}
        <link rel="prev" href="{{pagination.category.previous}}">
    {{/if}}
    {{#if pagination.category.next}}
        <link rel="next" href="{{pagination.category.next}}">
    {{/if}}
{{/partial}}
{{#partial "header"}} 
    <header class="border-bottom border-moss bg-{{#if category.name '==' "Baby Care"}}baby-care{{else if category.name '==' "Baby Food"}}baby-food{{else if category.name '==' "Clothes"}}clothes{{else if category.name '==' "Diapers"}}diapers{{else if category.name '==' "Toys"}}toys{{else if category.name '==' "Mommy"}}mommy{{/if}}">
        {{#or (if category.name '==' "Clothes") (if category.name '==' "Diapers")}}<div class="floater pt-0"></div><div class="overlay"></div>{{/or}}
        <div class="category-title bg-moss-neg-10 pb-5 d-flex justify-content-end align-items-end">
            <div class="container mt-10">
                {{#or (if category.name '==' "Baby Care") (if category.name '==' "Baby Food") (if category.name '==' "Clothes") (if category.name '==' "Diapers") (if category.name '==' "Toys") (if category.name '==' "Mommy")}}
                    {{> os/components/category/title title=category.name class="display-1"}}
                {{else}}
                    {{> os/components/category/title title=category.name}}
                {{/or}}
            </div>
        </div>
        <div class="category-breadcrumbs bg-moss-neg-9 container-fluid">
            {{> os/components/common/breadcrumbs breadcrumbs=breadcrumbs}}
        </div>
    </header>
{{/partial}}

{{#partial "page"}}

    {{#if category.image}}
        <img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{getImage category.image 'zoom_size'}}">
    {{/if}}

    {{{category.description}}}

    {{{snippet 'categories'}}}
    
    <div class="container mt-4">
        <div class="row">
            <aside class="col-12 col-lg-3 d-none d-lg-block" id="faceted-search-container">
                {{#if category.faceted_search_enabled}}
                    {{> os/components/category/sidebar}}
                {{else if category.subcategories}}
                    {{> os/components/category/sidebar}}
                {{else if category.shop_by_price}}
                    {{#if theme_settings.shop_by_price_visibility}}
                        {{> os/components/category/sidebar}}
                    {{/if}}
                {{/if}}
            </aside>
            <main class="col-12 col-lg-9 page-content" id="product-listing-container">
                {{#if category.products}}
                    {{> os/components/category/product-listing}}
                {{else}}
                    <p>{{lang 'categories.no_products'}}</p>
                {{/if}}
            </main>
        </div>
    </div>
{{/partial}}
{{> layout/base}}
