{{#partial "page"}}

<div>
    <div class="container">
        {{#unless theme_settings.hide_contact_us_page_heading }}
            <h1 class="display-1">{{ page.title }}</h1>
        {{/unless}}
        {{> os/components/common/breadcrumbs breadcrumbs=breadcrumbs}}
    </div>
    <div class="container-sm mt-4">
        <div class="ui segment p-2 p-lg-4">
            {{#if forms.contact.success}}
                <div id="contact-us-success">{{{lang 'forms.contact_us.successful' shopPath=urls.home}}}</div>
            {{else}}
                <p>{{{page.content}}}</p>
                {{> components/page/contact-us-form}}
            {{/if}}
        </div>
    </div>
</div>
{{/partial}}

{{> layout/base}}
