---
products:
    new:
        limit: {{theme_settings.homepage_new_products_count}}
    featured:
        limit: {{theme_settings.homepage_featured_products_count}}
    top_sellers:
        limit: {{theme_settings.homepage_top_products_count}}
carousel: {{theme_settings.homepage_show_carousel}}
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
---

{{#partial "scripts"}}
    {{{stylesheet '/assets/dist/home.css'}}}
    <script>
        window.renderHome();
    </script>
{{/partial}}

{{#partial "page"}}

    {{> os/pages/home/formula }}

    {{> os/pages/home/tiles }}

    {{#if products.featured}}
        <section id="featured-products">
            <h2>Products Your &#128118; will &#10084;&#65039;</h2>
            {{> os/components/products/carousel products=products.featured type="featured" name=(lang 'products.featured') wrap="true"}}
        </section>
    {{/if}}

    {{#if products.top_sellers}}
        <section id="top-sellers" data-spy="scroll">
            <h2>{{lang 'products.top' }}</h2>
            {{> os/components/products/carousel products=products.top_sellers name=(lang 'products.top') wrap="true"}}
        </section>
    {{/if}}

    {{> os/pages/home/serenity-kids }}

    {{#if products.new}}
        <section id="new-products">
            <h2>{{lang 'products.new' }}</h2>
            {{> os/components/products/carousel products=products.new name=(lang 'products.new') wrap="true"}}
        </section>
    {{/if}}
    
    {{> os/pages/home/brands }}
    
    {{> os/pages/home/categories }}

    <!--<section class="position-relative">
        <div class="shape shape-bottom shape-fluid-x svg-shim text-light">
            <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="#fff"></path>
            </svg>
        </div>
    </section>

    {{> os/pages/home/powder-nest }}

    <section class="position-relative">
        <div class="shape shape-bottom shape-fluid-x svg-shim text-light">
            <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="#fafafa"></path>
            </svg>
        </div>
    </section>-->
    
{{/partial}}

{{> layout/base}}
