---
product:
    videos:
        limit: {{theme_settings.productpage_videos_count}}
    reviews:
        limit: {{theme_settings.productpage_reviews_count}}
    related_products:
        limit: {{theme_settings.productpage_related_products_count}}
    similar_by_views:
        limit: {{theme_settings.productpage_similar_by_views_count}}
---
{{#partial "styles"}}
    {{{stylesheet '/assets/dist/products.css'}}}
{{/partial}}
{{#partial "scripts"}}
    <script src="{{cdn 'assets/dist/theme-bundle.productsjs.js'}}"></script>
    <script>
        window.renderProducts();
    </script>
{{/partial}}
{{#partial "page"}}

    <div itemscope itemtype="http://schema.org/Product">
        {{> os/components/products/product-view avg_rating=0 reviews=product.reviews schema=true  }}

        {{> os/components/products/reviews reviews=product.reviews product=product urls=urls}}
        {{> os/components/products/write-review}}
    </div>
    {{#if product.related_products}}
        <h3 class="carousel-title">{{lang 'products.related_products'}}</h3>
        {{#if settings.data_tag_enabled}}
            {{> os/components/products/carousel products=product.related_products list="Related Products" wrap="false" align="center"}}
        {{else}}
            {{> os/components/products/carousel products=product.related_products wrap="false" align="center"}}
        {{/if}}
    {{/if}}
    {{#if product.similar_by_views}}
        <h3 class="carousel-title">{{lang 'products.similar_by_views'}}</h3>
        {{> os/components/products/carousel products=product.similar_by_views columns=6 list="Customers Also Viewed" wrap="false" align="center"}}
    {{/if}}
{{/partial}}
{{> layout/base}}
