---
product:
    videos:
        limit: {{theme_settings.productpage_videos_count}}
    reviews:
        limit: {{theme_settings.productpage_reviews_count}}
    related_products:
        limit: {{theme_settings.productpage_related_products_count}}
    similar_by_views:
        limit: {{theme_settings.productpage_similar_by_views_count}}
---
{{#partial "scripts"}}
    <script>
        oSx.Products.Init();
    </script>
    
    {{#contains product.title "Milk"}}
        <script>
            oSx.Modals.CountryModal();
        </script>
    {{/contains}}
{{/partial}}
{{#partial "page"}}

    <div class="pb-0" itemscope itemtype="http://schema.org/Product">
        {{#each product.shipping_messages}}
            {{> components/common/alert-info message}}
        {{/each}}
        
        {{> os/components/products/product-view schema=true  }}

        {{#if product.videos.list.length}}
            {{> components/products/videos product.videos}}
        {{/if}}

        {{#all settings.show_product_reviews (if theme_settings.show_product_reviews_tabs '!==' true)}}
            {{> os/components/products/reviews reviews=product.reviews product=product urls=urls}}
        {{/all}}
    </div>
    {{#if product.related_products}}
        <section class="my-5 my-lg-8 my-xl-10" id="SimilarProducts" data-spy="scroll">
            <div class="container">
                <h3 class="display-4 mb-5 text-lg-center text-gray-800">{{lang 'products.related_products'}}</h3>
            </div>
            {{#if settings.data_tag_enabled}}
                {{> os/components/products/carousel products=product.related_products list="Related Products" wrap="false" align="center"}}
            {{else}}
                {{> os/components/products/carousel products=product.related_products wrap="false" align="center"}}
            {{/if}}
        </section>
    {{/if}}
    {{#if product.similar_by_views}}
        <section class="my-5 my-lg-8 my-xl-10" id="SimilarProducts" data-spy="scroll">
            <div class="container">
                <h3 class="display-4 mb-5 text-lg-center text-gray-800">{{lang 'products.similar_by_views'}}</h3>
            </div>
            {{> os/components/products/carousel products=product.similar_by_views columns=6 list="Customers Also Viewed" wrap="false" align="center"}}
        </section>
    {{/if}}
{{/partial}}
{{> layout/base}}
