---
product_results:
    limit: {{theme_settings.searchpage_products_per_page}}
---
{{inject 'categoryTree' forms.search.category_options}}
{{inject 'searchProductsPerPage' theme_settings.searchpage_products_per_page}}
{{#partial "head"}}
    {{#if pagination.product_results.previous}}
        <link rel="prev" href="{{pagination.product_results.previous}}">
    {{/if}}
    {{#if pagination.product_results.next}}
        <link rel="next" href="{{pagination.product_results.next}}">
    {{/if}}
{{/partial}}

{{#partial "page"}}



<div class="container">
    
    {{#if forms.search.query}}
        <h1>
            {{lang 'search.results.count' count=result_count search_query=forms.search.query}}

            {{#unless product_results.faceted_search_enabled}}
                <a class="ui button float-right navBar-action toggleLink" data-collapsible="advanced-search-content" href="#" aria-controls="advanced-search-content" aria-expanded="false">
                    <span class="toggleLink-text toggleLink-text--on">
                        {{lang 'forms.search.hide'}}
                    </span>
                    <span class="toggleLink-text toggleLink-text--off">
                        {{lang 'forms.search.show'}}
                    </span>
                </a>
            {{/unless}} 
        </h1>
    {{else}}
        <h1 class="display-1">
            {{lang 'common.search'}}
        </h1>
    {{/if}}
    
    {{{snippet 'search'}}}
    
    
    {{#if product_results.products}}
    
        {{> os/components/search/advanced-search hidden='true'}}

        <div class="row mt-4">
            <div class="col-12 col-lg-3 col-xl-2 d-none">
                <nav class="navBar navBar--sub">
                    <ul class="navBar-section account-navigation">
                        <li class="navBar-item">
                            <a id="search-results-product-count" class="navBar-action" href="{{forms.search.product_url}}" data-product-results-toggle>
                                {{>components/search/product-count}}
                            </a>
                        </li>
                        <li class="navBar-item">
                            <a class="navBar-action" href="{{forms.search.content_url}}" data-content-results-toggle>
                                {{lang 'search.results.content_count' count=pagination.content_results.total}}
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        
                {{> os/components/search/product-listing}}
        </div>
    {{else}}
        {{> os/components/search/advanced-search hidden='false'}}
    {{/if}}
</div>

{{/partial}}
{{> layout/base}}
