<div class="ui product card position-relative p-0 {{#if alternate}}card--alternate{{/if}}" {{#if settings.data_tag_enabled}} data-event-type="{{event}}" data-entity-id="{{id}}" data-position="{{position}}" data-name="{{name}}" data-product-category="{{#each category}}{{#if @last}}{{this}}{{else}}{{this}}, {{/if}}{{/each}}" data-product-brand="{{brand.name}}" data-product-price="{{#if price.with_tax}}{{price.with_tax.value}}{{else}}{{price.without_tax.value}}{{/if}}"  {{/if}}>
    
    {{#if out_of_stock_message}}
        <div class="ui red ribbon label bg-gray-600 text-white d-none">Sold Out</div>
    {{else if pre_order}}
        <a class="top left ribbon bg-orange text-white d-none">Pre-Order</a>
    {{else if theme_settings.product_sale_badges}}
        {{#or price.non_sale_price_with_tax price.non_sale_price_without_tax}}
            {{#if theme_settings.product_sale_badges '===' 'sash'}}
                <div class="sale-flag-sash d-none">
                    <span class="sale-text">On Sale!</span>
                </div>
            {{else if theme_settings.product_sale_badges '===' 'topleft'}}
                <div class="sale-flag-side d-none">
                    <span class="sale-text">On Sale!</span>
                </div>
            {{else if theme_settings.product_sale_badges '===' 'burst'}}
                <div class="starwrap d-none">
                    <div class="sale-text-burst">On Sale!</div>
                    <div class="sale-flag-star"></div>
                </div>
            {{/if}}
        {{/or}}
    {{/if}}

    <div class="product-thumbnail">
        {{#if demo}}
            <img class="mx-auto img-fluid lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{getImage image 'productgallery_size' (cdn theme_settings.default_image_product)}}" alt="{{image.alt}}" title="{{image.alt}}">
        {{else}}
            <a href="{{url}}" {{#if settings.data_tag_enabled}} data-event-type="product-click" {{/if}}>
                <img class="mx-auto img-fluid lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{getImage image 'productgallery_size' (cdn theme_settings.default_image_product)}}" alt="{{image.alt}}" title="{{image.alt}}">
            </a>
        {{/if}}
    </div>
    
    <h6 class="text-gray-800 mx-2">
        {{#unless demo}}
            <a class="link-unstyled" href="{{url}}" {{#if settings.data_tag_enabled}} data-event-type="product-click"{{/if}}>
        {{/unless}}
            {{#if brand.name}}
                <small class="lead text-gray-600" data-test-info-type="brandName">{{brand.name}}</small>
            {{/if}}
            <br>
            {{name}}
        {{#unless demo}}
            </a>
        {{/unless}}
    </h6>
    <p class="m-0 px-2" data-test-info-type="productRating">
        {{> os/components/products/ratings rating=rating}}
    </p>
    <div class="d-flex align-self-end mt-auto w-100 pt-2 pl-2 pb-2 text-left">
        <div class="row w-100 align-items-center">
            <div class="col m-0 text-left">
                <div class="m-0 p-0" data-test-info-type="price">
                    {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                        <div class="h5 text-success">
                            {{> os/components/products/price price=price}}
                        </div>
                    {{else}}
                        <p class="m-0" translate><strong><a href="login.php">Sign in for pricing</a></strong></p>
                    {{/or}}
                </div>
                {{> components/products/bulk-discount-rates}}
            </div>
            {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                <div class="col m-0 text-right">
                    {{#if show_cart_action}}
                            {{#if has_options}}
                                <a href="{{url}}" class="ui green icon vertical animated card-atc options button rounded-pill m-0">
                                    <div class="hidden content">{{lang 'products.choose_options'}}</div>
                                    <div class="visible content">
                                            <i class="fas fa-tasks"></i>
                                    </div>
                                </a>
                            {{/if}}
                            {{#if pre_order}}
                                <a href="{{pre_order_add_to_cart_url}}" class="ui orange icon vertical animated card-atc button rounded-pill m-0" data-product-id="{{id}}">
                                    <div class="hidden content">{{lang 'products.pre_order'}}</div>
                                    <div class="visible content">
                                        <i class="fas fa-plus"></i>
                                    </div>
                                </a>
                            {{/if}}
                            {{#if add_to_cart_url}}
                                <a href="{{add_to_cart_url}}" class="ui green icon vertical animated card-atc instant-atc button rounded-pill m-0" data-product-id="{{id}}">
                                    <div class="hidden content">{{lang 'products.add_to_cart'}}</div>
                                    <div class="visible content">
                                        <i class="fas fa-plus"></i>
                                    </div>
                                </a>
                            {{/if}}
                            {{#if out_of_stock_message}}
                                <a class="ui bg-gray-100 text-gray-800 icon vertical animated card-atc button rounded-pill m-0">
                                    <div class="hidden content">{{out_of_stock_message}}</div>
                                    <div class="visible content">
                                        <i class="fas fa-times"></i>
                                    </div>
                                </a>
                            {{/if}}
                    {{else}}
                        <a href="#" class="ui disabled green icon vertical animated card-atc button rounded-pill m-0" disabled="disabled">
                            <div class="hidden content">{{lang 'products.add_to_cart'}}</div>
                            <div class="visible content">
                                <i class="fas fa-plus"></i>
                            </div>
                        </a>
                    {{/if}}
                </div>
            {{else}}
                <div class="col m-0 text-right">
                    <a href="#" class="ui disabled green icon vertical animated card-atc button rounded-pill m-0" disabled="disabled">
                        <div class="hidden content">{{lang 'products.add_to_cart'}}</div>
                        <div class="visible content">
                            <i class="fas fa-plus"></i>
                        </div>
                    </a>
                </div>
            {{/or}}
        </div>
    </div>
</div>
