<div class="products default swiper-container {{#if type}} {{type}}-carousel{{else}}carousel{{/if}}" {{#if type}}data-product-type="{{type}}"{{/if}}{{#if settings.data_tag_enabled}}{{#if name}} data-list-name="{{name}}"{{/if}}{{/if}}{{#if wrap}} data-wrap="{{wrap}}"{{/if}}{{#if align}} data-align="{{align}}"{{/if}}>
    <div class="swiper-wrapper">
        {{#each products}}
            <div class="swiper-slide">
                    {{> os/components/products/card settings=../settings theme_settings=../theme_settings customer=../customer event="list" position=(add @index 1)}}
            </div>
        {{/each}}
    </div>
</div>
