<section class="my-5 my-lg-8 my-xl-10" id="SimilarProducts" data-spy="scroll">
    <div class="container">
        <h3 class="display-4 mb-5 text-center text-lg-left text-gray-800">{{lang 'products.related_products'}}</h3>
    </div>
    {{#if settings.data_tag_enabled}}
        {{> os/components/products/carousel products=product.related_products list="Related Products" wrap="false" align="left"}}
    {{else}}
        {{> os/components/products/carousel products=product.related_products wrap="false" align="left"}}
    {{/if}}
</section>