
<section id="product-reviews" data-product-reviews>
    <div class="container">
        <h3>Product Reviews <small>({{lang 'products.reviews.header' total=reviews.total}})</small></h3>
        <ul>
            {{#if reviews.total}}
                {{#each reviews.list}}
                    <li>
                        <article itemprop="review" itemscope itemtype="http://schema.org/Review">
                            <header>
                                <div class="row">
                                    {{#if name}}
                                        <meta itemprop="author" content="{{#replace "@hotmail.com" name}}{{else}}{{#replace "@gmail.com" name}}{{else}}{{ capitalizeAll name}}{{/replace}}{{/replace}}">
                                        {{#replace "@hotmail.com" name}}{{else}}{{#replace "@gmail.com" name}}{{else}}{{ capitalizeAll name}}{{/replace}}{{/replace}} rated this 
                                            <!--{{lang 'products.reviews.post_on_by' date=date name=name }}-->
                                    {{else}}
                                        <meta itemprop="author" content="Anonymous">
                                        A guest rated this
                                            <!--{{lang 'products.reviews.post_on_by' date=date name=(lang 'products.reviews.anonymous_poster')}}-->
                                    {{/if}}
                                    &nbsp;
                                    <span class="productReview-rating rating--small" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                                        {{> os/components/products/ratings rating=rating}}
                                        <span class="productReview-ratingNumber" itemprop="ratingValue">{{ rating }}</span>
                                    </span>
                                </div>
                                <small>Published on {{date}}.</small>
                            </header>
                            <h4 itemprop="name">{{#replace "@hotmail.com" title}}{{else}}{{#replace "@gmail.com" title}}{{else}}{{title}}{{/replace}}{{/replace}}</h4>
                            <p itemprop="reviewBody">{{nl2br text}}</p>
                            {{#if name}}
                                <div class="verified">
                                    <svg fill="#fff" role="presentation">
                                        <use xlink:href="#check"></use>
                                    </svg>
                                    Verified Buyer
                                </div>
                            {{/if}}
                        </article>
                    </li>
                {{/each}}
            {{else}}
                <li>
                    <strong>There are no reviews yet.</strong> Be the first!
                </li>
            {{/if}}
        </ul>
        {{> components/common/paginator pagination.reviews}}
    </div>
</section>
{{{snippet 'reviews'}}}
