{{#if theme_settings.shop_by_price_visibility}}
    <div class="sidebarBlock m-0 p-0 mt-4">
        <h6>{{lang 'category.shop_by_price'}}</h6>
        <ul class="nav flex-column">
            {{#each shop_by_price}}
            <li class="nav-item">
                <a class="nav-link {{#if selected }} is-active {{/if}}" href="{{url}}" alt="{{low.formatted}} - {{high.formatted}}" title="{{low.formatted}} - {{high.formatted}}">{{low.formatted}} - {{high.formatted}}</a>
            </li>
            {{/each}}

            {{#any shop_by_price selected=true}}
                <li class="nav-item">
                    <a href="{{category_url}}" class="nav-link">
                        {{lang 'category.reset'}}
                    </a>
                </li>
            {{/any}}
        </ul>
    </div>
{{/if}}
