<footer id="footer" data-spy="scroll" class="os-footer mt-4 mt-lg-5 position-relative">
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none">
        <defs>
            <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="wave-1">
            <use xlink:href="#gentle-wave" x="50" y="3" fill="#ffc107" />
        </g>
        <g class="wave-2">
            <use xlink:href="#gentle-wave" x="50" y="0" fill="#93c11f" />
        </g>
        <g class="wave-3">
            <use xlink:href="#gentle-wave" x="50" y="9" fill="#444444" />
        </g>
        <g class="wave-4">
            <use xlink:href="#gentle-wave" x="50" y="6" fill="#232323" />
        </g>
    </svg>
    <div class="bg-gray-900 py-4 py-lg-5">
        <div class="container my-4 my-lg-5">
            <div class="row">
                <div class="col-12 col-md-4 col-lg-3">
                    <ul class="list-unstyled list-inline list-social mb-6 mb-md-0" data-spy="item" data-animation="fadeInLeft" data-staggered="true">
                        <li class="list-inline-item list-social-item mr-3">
                            <a href="https://www.facebook.com/organicstart" class="link-unstyled text-white">
                                <i class="fab fa-facebook-square fs-4"></i>
                            </a>
                        </li>
                        <li class="list-inline-item list-social-item mr-3">
                            <a href="https://www.instagram.com/organic_start/" class="link-unstyled text-white">
                                <i class="fab fa-instagram fs-4"></i>
                            </a>
                        </li>
                        <li class="list-inline-item list-social-item mr-3">
                            <a href="https://twitter.com/organic_start" class="link-unstyled text-white">
                                <i class="fab fa-twitter-square fs-4"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <ul class="list-unstyled text-gray-400 mb-6 mb-md-8 mb-lg-0" data-spy="item" data-animation="fadeInLeft" data-staggered="true">
                        <li class="header font-weight-bold text-uppercase text-gray-700 mb-3">
                            Categories
                        </li>
                        <li class="mb-3">
                            <a href="/baby-care" class="link-unstyled">
                                Baby Care
                            </a>
                        </li>
                        <li class="mb-3">
                            <a href="/baby-food" class="link-unstyled">
                                Baby Food
                            </a>
                        </li>
                        <li class="mb-3">
                            <a href="/clothes" class="link-unstyled">
                                Clothes
                            </a>
                        </li>
                        <li class="mb-3">
                            <a href="/diapers" class="link-unstyled">
                                Diapers
                            </a>
                        </li>
                        <li class="mb-3">
                            <a href="/toys" class="link-unstyled">
                                Toys
                            </a>
                        </li>
                        <li>
                            <a href="/mommy" class="link-unstyled">
                                Mommy
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <ul class="list-unstyled text-gray-400 mb-6 mb-md-8 mb-lg-0" data-spy="item" data-animation="fadeInLeft" data-staggered="true">
                        <li class="header font-weight-bold text-uppercase text-gray-700 mb-3">
                            Company
                        </li>
                        <li class="mb-3 d-none">
                            <a href="#!" class="link-unstyled disabled">
                                The Story
                            </a>
                        </li>
                        <li class="mb-3 d-none">
                            <a href="#!" class="link-unstyled disabled">
                                Our Process
                            </a>
                        </li>
                        <li class="mb-3">
                            <a href="/about-us/" class="link-unstyled disabled">
                                About Us
                            </a>
                        </li>
                        <li class="mb-3">
                            <a href="/multiples-discount" class="link-unstyled">
                                Multiples Discount
                            </a>
                        </li>
                        <li class="mb-3 d-none">
                            <a href="#!" class="link-unstyled disabled">
                                News
                            </a>
                        </li>
                        <li class="mb-3">
                            <a href="/company/careers" class="link-unstyled">
                                Careers
                            </a>
                        </li>
                        <li>
                            <a href="/baby-formulas" class="link-unstyled">
                                Baby Formulas
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-6 col-md-4 offset-md-4 col-lg-2 offset-lg-0">
                    <ul class="list-unstyled text-gray-400 mb-0" data-spy="item" data-animation="fadeInLeft" data-staggered="true">
                        <li class="header font-weight-bold text-uppercase text-gray-700 mb-3">
                            Support
                        </li>
                        <li class="mb-3">
                            <a href="/baby-bank" class="link-unstyled d-none">
                                The Baby Bank
                            </a>
                        </li>
                        <li class="mb-3">
                            <a href="/support/shipping" class="link-unstyled">
                                Shipping
                            </a>
                        </li>
                        <li class="mb-3">
                            <a href="/support/returns-exchanges" class="link-unstyled">
                                Returns &amp; Exchanges
                            </a>
                        </li>
                        <li class="mb-3 d-none">
                            <a href="/support/faqs" class="link-unstyled">
                                FAQs
                            </a>
                        </li>
                        <li class="mb-3">
                            <a href="/support/contact" class="link-unstyled">
                                Contact Us
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <ul class="list-unstyled text-gray-400 mb-0" data-spy="item" data-animation="fadeInLeft" data-staggered="true">
                        <li class="header font-weight-bold text-uppercase text-gray-700 mb-3">
                            Legal
                        </li>
                        <li class="mb-3">
                            <a href="/legal/accessibility" class="link-unstyled">
                                Accessibility
                            </a>
                        </li>
                        <li class="mb-3">
                            <a href="/legal/disclaimer" class="link-unstyled">
                                Disclaimer
                            </a>
                        </li>
                        <li class="mb-3">
                            <a href="/legal/privacy-policy" class="link-unstyled">
                                Privacy
                            </a>
                        </li>
                        <li>
                            <a href="/legal/terms-of-service" class="link-unstyled">
                                Terms
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="row justify-content-center align-items-center mt-5">
                <div class="col text-center text-gray-800 mt-5">
                    <p><small>Copyright &copy; 2019 Organic Start, Inc. All Rights Reserved.</small></p>
                </div>
            </div>
        </div>
    </div>
</footer>
