<div id="mainMenu" class="main-menu py-3 py-lg-5 px-3 px-xl-5 invisible position-absolute" role="banner">
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <div class="col-2 m-0">
                <ul class="nav">
                    <li class="nav-item-icon d-inline d-lg-none p-0">
                        <a class="mburger mburger--collapse" href="#mainMobileMenu"><b></b><b></b><b></b></a>
                    </li>
                    <li class="nav-item d-none d-lg-inline m-0 p-0">
                        <a href="/" title="Home">
                            <picture>
                                <img src="https://triad.imgix.net/os/i/logo.svg?s=83f3f5678face7e3f500c8aba1fd41e9" alt="Organic Start" title="Organic Start Logo" class="logo img-fluid my-0">
                            </picture>
                        </a>
                    </li>
            </div>
            <nav class="col-10 m-0" aria-label="Main" itemscope itemtype="http://www.schema.org/SiteNavigationElement">
                <ul class="nav justify-content-end align-items-center float-right m-0">
                    <li class="nav-item-icon animated fadeInDown delay-1s slow" id="AccountDrawer">
                        <a href="#accountMenu"><i class="far fa-user-circle"></i></a>
                    </li>
                    <li class="nav-item-icon animated fadeInDown delay-1s slow" id="CartDrawer">
                        <a href="#cartMenu"><i class="fas fa-shopping-bag"></i></a>
                    </li>
                </ul>
                {{> os/components/common/navigation-menu}}
            </nav>
        </div>
    </div>
</div>