<div id="mainMenu" class="main-menu py-2 py-lg-4 px-2 px-xl-4 invisible position-absolute" role="banner">
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <div class="col-1 m-0 d-lg-none">
                <a id="MobileMenuLink" href="#mainMobileMenu" class="link-unstyled">
                    <i class="fas fa-bars"></i>
                </a>
            </div>
            <div class="col-1 col-lg-2 col-xl-1 m-0">
                <a href="/" title="Home">
                    <img src="https://triad.imgix.net/os/i/logo.svg?s=83f3f5678face7e3f500c8aba1fd41e9"
                        alt="Organic Start" title="Organic Start Logo" class="logo my-0 d-none d-lg-block">
                    <img src="https://triad.imgix.net/os/i/icon-white.svg?s=96aba761ae07349b74aadd9e2fefa98b"
                        alt="Organic Start" title="Organic Start Icon" class="icon my-0 d-lg-none">
                </a>
            </div>
            {{> os/components/common/navigation}}
        </div>
    </div>
</div>