<nav class="col-8 col-lg-10 m-0 text-right" aria-label="Main" itemscope itemtype="http://www.schema.org/SiteNavigationElement">
    <div class="d-none d-lg-inline-block">
        {{> os/components/common/navigation-menu}}
    </div>
    <ul class="nav justify-content-end align-items-center float-right m-0">
        <li class="nav-item animated staggered-fade-up mx-2 mx-xl-4" id="accountDrawer">
            <a id="AccountLink" href="/account.php" class="link-unstyled"><i class="far fa-user-circle fs-4"></i></a>
        </li>
        <li class="nav-item animated staggered-fade-up mx-2 mx-xl-4">
            <a id="AccountLink" href="/search.php" class="link-unstyled"><i class="fas fa-search fs-4"></i></a>
        </li>
        <li class="nav-item animated staggered-fade-up ml-2 ml-xl-4 mr-0" id="cartDrawer">
            <a href="#" class="toggle-cart link-unstyled" onClick="return false;">
                <i class="fas fa-shopping-basket fs-4"></i>
                <span id="cartPill" class="floating ui tiny red label invisible">0</span>
            </a>
        </li>
    </ul>
</nav>