
<ul>
    {{> os/components/common/navigation/baby-care}}
    {{> os/components/common/navigation/baby-food}}
    {{> os/components/common/navigation/clothes}}
    {{> os/components/common/navigation/diapers}}
    {{> os/components/common/navigation/mommy}}
    <li itemprop="name">
        <a itemprop="url" href="/toys">Toys</a>
    </li>
    <li class="x" itemprop="name">
        <a href="/account.php">
            <svg class="icon"><use xlink:href="#user" /></svg>
        </a>
    </li>
    <li class="x">
        <a href="#" data-search="quickSearch" aria-controls="quickSearch" aria-expanded="false">
            <svg class="icon"><use xlink:href="#search" /></svg>
        </a>
    </li>
    <li class="x" id="cartDrawer">
        <a href="#" class="toggle-cart" onclick="return false;">
            <svg class="icon"><use xlink:href="#shopping" /></svg>
            <span id="cartPill" class="floating ui tiny red label invisible">0</span>
        </a>
    </li>
    <li class="x y">
        <a href="#" id="toggleSidebar" class="toggleSidebar">
            <svg class="icon"><use xlink:href="#hamburger" /></svg>
        </a>
    </li>
</ul>