<nav class="col-10 m-0" aria-label="Main" itemscope itemtype="http://www.schema.org/SiteNavigationElement">
    <ul class="nav justify-content-end align-items-center float-right m-0">
        <li class="nav-item animated fadeInDown delay-1s slow" id="AccountDrawer">
            <a id="AccountLink" href="#accountMenu"><i class="far fa-user-circle fs-2"></i></a>
        </li>
        <li class="nav-item animated fadeInDown delay-1s slow" id="CartDrawer">
            <a href="#cartMenu"><i class="fas fa-shopping-bag fs-2"></i></a>
        </li>
    </ul>
    {{> os/components/common/navigation-menu}}
</nav>