<nav id="mainMobileMenu" class="primary sidebar d-none" aria-hidden="true">
    <ul>
        <li>
            <a class="nav-link" href="/baby-care/">
                Baby Care
            </a>
        </li>
        <li>
            <a class="nav-link" href="/baby-food/">
                Baby Food
            </a>
        </li>
        <li>
            <a class="active nav-link" href="/clothes/">
                Clothes
            </a>
        </li>
        <li>
            <a class="active nav-link" href="/diapers/">
                Diapers
            </a>
        </li>
        <li>
            <a class="active nav-link" href="/toys/">
                Toys
            </a>
        </li>
        <li>
            <a class="active nav-link" href="/mommy/">
                Mommy
            </a>
        </li>
    </ul>
</nav>