<div class="d-flex align-items-center justify-content-center">
    <ul class="nav justify-content-center list-unstyled mt-4 mx-auto d-flex align-items-center justify-content-center">
        {{#if previous}}
            <li>
                <a class="link-unstyled text-blue py-1 px-2 py-lg-2 px-lg-4" href="{{previous}}" {{#unless reload}}data-faceted-search-facet{{/unless}}>
                    &larr; {{lang 'common.previous'}}
                </a>
            </li>
        {{/if}}
        {{#if links}}
            <li>
                <div class="ui pagination menu">
                    {{#each links}}
                        {{#if this.number '==' ../current}}
                            <a class="active item py-1 px-2 py-lg-2 px-lg-4" {{#unless reload}}data-faceted-search-facet{{/unless}}>{{this.number}}<span class="sr-only">(current)</span></a>
                        {{else}}
                            <a class="item py-1 px-2 py-lg-2 px-lg-4" href="{{this.url}}" {{#unless reload}}data-faceted-search-facet{{/unless}}>{{this.number}}</a>
                        {{/if}}
                    {{/each}}
                </div>
            </li>
        {{/if}}
        {{#if next}}
            <li>
                <a class="link-unstyled text-blue py-1 px-2 py-lg-2 px-lg-4" href="{{next}}" {{#unless reload}}data-faceted-search-facet{{/unless}}>
                    {{lang 'common.next'}} &rarr;
                </a>
            </li>
        {{/if}}
    </ul>
    </div>
