// Lets do my own stuff
// Written by Isaiah Marc Sanchez <isaiah@mymx.io>
@import "os/index.scss";
body {
    @media screen and (min-width: 600px) {
        scroll-padding-top: 67px;
    }
    &.unscrollable {
        overflow: hidden;
    }
}
main {
    @media screen and (max-width: 599px) {
        padding-top: 102px;
    }
    & > .container:not([class*="mt-"]), & > .flex-page {
        padding-top: 132px!important;
    }
}

#mainMobileMenu, #mainMenu {
    display: none;
}
#tint {
    background: rgba(0,0,0,0.5);
    position: fixed;
    z-index: 29;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    will-change: opacity, visibility;
    transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
    &.active {
        opacity: 1;
        visibility: visible;
    }
}
.sidebar {
    position: fixed;
    overflow-y: auto;
    top: 0;
    @media screen and (max-width: 599px) {
        left: 0;
        transform: translateX(-100%);
    }
    @media screen and (min-width: 600px) {
        right: 0;
        transform: translateX(100%);
    }
    z-index: 30;
    width: 100%;
    max-width: 270px;
    @media screen and (min-width: 425px) {
        max-width: 320px;
    }
    height: 100%;

    background: #fff; 

    will-change: transform, box-shadow;
    transition: transform 0.3s ease-in-out;
    &.active {
        transform: translateX(0);
        box-shadow: -1.5rem 0 4rem rgba(22,28,45,.15);
    }
    & > ul {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        min-height: 400px;
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: left;
        & > li {
            margin: 1rem;
            padding: 0;
            &:last-child {
                margin: 0;
                padding: 1rem;
                background-color: #db2828;
                & > a {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    color: #fff;
                    font-weight: 600;
                    & > small {
                        text-transform: uppercase;
                        font-size: 0.75rem;
                    }
                }
            }
            & > a, & > label {
                margin: 0;
                padding: 0;
                font-size: 1.125rem;
                color: #666;
                &:hover, &:active, &:focus {
                    text-decoration: none;
                    cursor: pointer;
                }
            }
            & > ul {
                max-height: 0;
                overflow: hidden;
                will-change: max-height;
                transition: max-height 0.5s ease-in-out;
            }
            & > input[type=checkbox] {
                display: none;
                &:checked ~ label {
                    color: #111;
                    font-weight: 600;
                }
                &:checked ~ ul {
                    max-height: 500px;
                }
            }
            & > ul {
                display: flex;
                margin: 0;
                padding: 0;
                flex-direction: column;
                list-style: none;
                & > li {
                    margin: 1rem;
                    padding: 0;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    &.text {
                        color: #ccc;
                        font-size: 0.875rem;
                        font-weight: 900;
                        text-transform: uppercase;
                        margin-bottom: 0;
                    }
                    & > a {
                        font-size: 1rem;
                        color: #666;
                        &:hover, &:active {
                            color: #111;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}

.banner {
    z-index: 28;
    @media screen and (max-width: 599px) {
        position: absolute;
        top: 0;
        &-container__left {
            width: 100%;
            text-align: center;
            letter-spacing: 0;
            & > a {
                display: none;
            }
        }
    }
    width: 100%;
    max-width: 100%;
    background: #1b1c1d;
    & > .container {
        display: flex;
        justify-content: space-between;
    }
    &-container {
        &__left {
            padding: 0.5rem;
            vertical-align: middle;
            color: #fff;
            font-size: 0.75rem;
            letter-spacing: 0.5px;
            & a {
                padding-left: 1rem;
                color: rgba(255, 255, 255, 0.6);
                font-size: 0.75rem;
                &:hover {
                    color: rgba(255, 255, 255, 0.95);
                    text-decoration: none;
                }
            }
        }
        &__right {
            @media screen and (max-width: 600px) {
                display: none;
            }
            padding: 0.5rem;
            font-size: 0.75rem;
            letter-spacing: 0.5px;
            background: #db2828;
            & a {
                color: #fff;
                font-weight: 700;
                text-transform: uppercase;
                &:hover {
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
    }
}
.brand {
    position: absolute;
    padding: 1rem 0!important;
    z-index: 20;
    top: 102px;
    left: 50%;
    transform: translateX(-50%);
    @media screen and (min-width: 600px) {
        top: 35px;
        left: 0;
        transform: none;
    }
    @media screen and (min-width: 1440px) {
        left: calc((100% - 1440px) / 2);
    }
    & > a {
        z-index: 20;
        & > svg {
            width: 250px;
            height: 100px;
            @media screen and (min-width: 600px) {
                width: 100%;
                max-height: 100px;
            }
            z-index: 20;
        }
    }
}
.header {
    top: 35px;
    position: absolute;
    will-change: top, position;
    & .header-container {
        height: 100px;
        will-change: height;
    }
    @media screen and (max-width: 599px) {
        background: #fff;
        & .header-container {
            height: 35px;
        }
    }
    width: 100%;
    padding: 1rem 0.5rem!important;
    @media screen and (min-width: 600px) {
        padding: 1rem!important;
    }
    &-container {
        display: flex;
        max-width: 1440px;
        margin: 0 auto;
        align-items: center;
        justify-content: flex-end;
        & > nav {
            @media print {
                display: none;
            }
            @media screen and (max-width: 599px) {
                width: 100%;
                & > ul {
                    justify-self: flex-end;
                }
            }
            & > ul {
                display: flex;
                margin: 0;
                padding: 0;
                list-style: none;
                & > li {
                    position: relative;
                    &.x {
                        padding: 1rem;
                    }
                    &.y {
                        @media screen and (max-width: 599px) {
                            margin-right: auto;
                        }
                        @media screen and (min-width: 600px) {
                            order: 4;
                        }
                    }
                    &:not(.x) {
                        display: none;
                        padding: 1rem 0.8rem;
                        @media screen and (min-width:1080px) {
                            padding: 1rem 1rem;
                        }
                        @media screen and (min-width:1220px) {
                            padding: 1rem 1.5rem;
                        }
                        @media screen and (min-width:1440px) {
                            padding: 1rem 2rem;
                        }
                    }
                    @media screen and (min-width:1025px) {
                        &:not(.x) {
                            display: block;
                        }
                        &.y {
                            display: none;
                        }
                    }


                    & > a {
                        vertical-align: middle;
                        color: rgba(0, 0, 0, 0.7);
                        will-change: color;
                        transition: color 0.3s linear;
                        &:hover {
                            text-decoration: none;
                            color: rgba(0, 0, 0, 0.95);
                        }
                    }
                    & svg {
                        width: 35px;
                        height: 35px;
                        fill: rgba(0, 0, 0, 0.7);
                        will-change: fill;
                        transition: fill 0.3s linear;
                        &:hover {
                            fill: rgba(0, 0, 0, 0.95);
                        }
                    }
                    // Dropdowns
                    &:hover > .dropdown {
                        padding-top: 2rem;
                        opacity: 1;
                        visibility: visible;
                        transform: translate3d(-50%, 0rem, 0);
                    }
                    & > .dropdown {
                        padding-top: 2rem;
    
                        position: absolute;
                        left: 50%;
                        z-index: 1030;
                    
                        opacity: 0;
                        visibility: hidden;
                        transform: translate3d(-50%, 20px, 0);
                        transform-origin: top center;
                        transition: all .1s ease-in-out;
                        transition-property: opacity,visibility,transform;
                    
                        will-change: opacity, visibility, transform, transform-origin;

                        & .style {
                            background: #fff;
                            box-shadow: 0 1.5rem 4rem rgba(22,28,45,.15);
                            border: 0 solid rgba(22,28,45,.15);
                            border-radius: 1rem;
                        }

                        & ul > li {
                            padding: 0;
                            margin-bottom: 0.5rem;
                            color: theme-color-level(moss, 5);
                            font-weight: 900;
                            text-transform: uppercase;
                        }

                        & ul > li a:not(.button) {
                            padding: 0;
                            margin-bottom: 0.5rem;
                            background: transparent;
                            color: #000;
                            font-weight: 400;
                            text-transform: none;
                            opacity: 0.8;
                            will-change: opacity;
                            &:hover, &:active, &:focus {
                                opacity: 1;
                                text-decoration: none;
                            }
                        }

                        & .dropdown-image {
                            &, &-top, &-left, &-right {
                                background-size: cover;
                                background-repeat: no-repeat;
                                background-position:center center;
                            }
                            &-top {
                                border-top-left-radius: 1rem;
                                border-top-right-radius: 1rem;
                            }
                            &-left {
                                border-top-left-radius: 1rem;
                                border-bottom-left-radius: 1rem;
                            }
                            &-right {
                                border-top-right-radius: 1rem;
                                border-bottom-right-radius: 1rem;
                            }
                        }
                        
                        &.small {
                            font-size: 100%;
                            min-width: 25rem;
                        }
                        &.medium {
                            min-width: 30rem;
                        }
                        &.large {
                            min-width: 35rem;
                        }
                        &.extra {
                            min-width: 45rem;
                        }
                        &.baby-care .dropdown-image, &.baby-care [class^="dropdown-image-"], &.baby-care [class*=" dropdown-image-"] {
                            background-position: 50% 10%;
                            @include Background(
                                "https://triad.imgix.net/os/i/nav/baby-care.jpeg?w=400&q=80",
                                "https://triad.imgix.net/os/i/nav/baby-care.jpeg?w=400&q=60&dpr=1.5",
                                "https://triad.imgix.net/os/i/nav/baby-care.jpeg?w=400&q=40&dpr=2",
                                "https://triad.imgix.net/os/i/nav/baby-care.jpeg?w=400&q=20&dpr=3",
                                "https://triad.imgix.net/os/i/nav/baby-care.jpeg?w=400&q=10&dpr=4"
                            );
                        }
                        &.baby-food .dropdown-image, &.baby-food [class^="dropdown-image-"], &.baby-food [class*=" dropdown-image-"] {
                            @include Background(
                                "https://triad.imgix.net/os/i/nav/new-baby-food.jpeg?w=360&q=80&s=6c3c2a7f2b45ca791388db895fed6d98",
                                "https://triad.imgix.net/os/i/nav/new-baby-food.jpeg?w=360&q=60&dpr=1.5&s=602d2eeb2db11f65dda98bd16b800526",
                                "https://triad.imgix.net/os/i/nav/new-baby-food.jpeg?w=360&q=40&dpr=2&s=1ed7a84b3e48903ef580d00c7f536bef",
                                "https://triad.imgix.net/os/i/nav/new-baby-food.jpeg?w=360&q=20&dpr=3&s=9269fca0bae61b315fc9f99b25a9d43d",
                                "https://triad.imgix.net/os/i/nav/new-baby-food.jpeg?w=360&q=10&dpr=4&s=f497a34a6207129cd18fb5bb21de797a"
                            );
                        }
                        &.clothes .dropdown-image, &.clothes [class^="dropdown-image-"], &.clothes [class*=" dropdown-image-"] {
                            @include Background(
                                "https://triad.imgix.net/os/i/nav/clothes.jpg?w=280&q=80&s=ad38e73acb4541fa0a2afd2538272230",
                                "https://triad.imgix.net/os/i/nav/clothes.jpg?w=280&q=60&dpr=1.5&s=289dc347c234d6b5a3ca4f487e94a49b",
                                "https://triad.imgix.net/os/i/nav/clothes.jpg?w=280&q=40&dpr=2&s=2e026415d0fd4b3f2613e34e04dcf599",
                                "https://triad.imgix.net/os/i/nav/clothes.jpg?w=280&q=20&dpr=3&s=f2dc3b5ff6c7854d2baee743770050dc",
                                "https://triad.imgix.net/os/i/nav/clothes.jpg?w=280&q=10&dpr=4&s=b1a9c0ad05a6b367c35c1ec4cccf26f3"
                            );
                        }
                        &.diapers .dropdown-image, &.diapers [class^="dropdown-image-"], &.diapers [class*=" dropdown-image-"] {
                            @include Background(
                                "https://triad.imgix.net/os/i/nav/diapers.jpeg?w=420&q=80&s=1ca63a29d0c0c6e3bcb58f6d92160c26",
                                "https://triad.imgix.net/os/i/nav/diapers.jpeg?w=420&q=60&dpr=1.5&s=31ddb3c857651e1298e7f0b6bf1adb15",
                                "https://triad.imgix.net/os/i/nav/diapers.jpeg?w=420&q=40&dpr=2&s=d2a4b7a79467476b633a4a057bb77b22",
                                "https://triad.imgix.net/os/i/nav/diapers.jpeg?w=420&q=20&dpr=3&s=b85992e7b2f4c609a6dd267d1763209e",
                                "https://triad.imgix.net/os/i/nav/diapers.jpeg?w=420&q=10&dpr=4&s=cf2ff85f479a3f9911a8e8f69c02b9c9"
                            );
                        }
                        &.mommy .dropdown-image, &.mommy [class^="dropdown-image-"], &.mommy [class*=" dropdown-image-"] {
                            @include Background(
                                "https://triad.imgix.net/os/i/nav/mommy.jpeg?w=400&q=80&s=a46502da07ab4b7aa4bfd0fe62d58f18",
                                "https://triad.imgix.net/os/i/nav/mommy.jpeg?w=400&q=60&dpr=1.5&s=2d2a5415172a0e75dada845a3601b26a",
                                "https://triad.imgix.net/os/i/nav/mommy.jpeg?w=400&q=40&dpr=2&s=71a2162e1a10aef09c224aeee80a7304",
                                "https://triad.imgix.net/os/i/nav/mommy.jpeg?w=400&q=20&dpr=3&s=38b4e0ae2d0520b1fa8ed01f0de09be4",
                                "https://triad.imgix.net/os/i/nav/mommy.jpeg?w=400&q=10&dpr=4&s=82a0ed11b355995e37bb902d08660a25"
                            );
                        }
                    }
                }
            }
        }
    }
}
.headroom {
    z-index: 10;
    will-change: position, transform, background;
    transition: transform 0.3s ease-in-out, background 0.3s ease-in-out;
    @media screen and (max-width: 599px) {
        z-index: 28;
        & .header-container {
            height: 35px;
        }
        &--pinned {
            background: #fff;
            box-shadow: 0 2px 10px 0 rgba(0,0,0,.15);
        }
    }
    &--top {
        top: 35px;
        position: absolute;
    }
    &--not-top {
        top: 0;
        position: fixed;
    }
    &--pinned {
        transform: translateY(0%);
        visibility: visible;
        @media screen and (min-width: 600px) {
            & .header-container {
                height: 100px;
                will-change: height;
                transition: height 0.3s linear;
            }
            &:not(.headroom--top) {
                background: #fff;
                box-shadow: 0 2px 10px 0 rgba(0,0,0,.15);
                & .header-container {
                    height: 35px;
                }
            }
        }
    }
    &--unpinned {
        transform: translateY(-100%);
        visibility: hidden;
    }
}
.tiles {
    background: #fff;
    &-group {
        max-width: 425px;
        flex-direction: column;
        @media screen and (min-width: 768px) {
            max-width: 1440px;
            flex-direction: row;
        }
        margin: 0 auto;
        @media screen and (min-width: 768px) {
            padding: 2rem 0;
        }
        display: flex;
        justify-content: space-between;
        &__tile {
            position: relative;
            overflow: hidden;
            margin: 1rem 0;
            @media screen and (max-width: 767px) {
                &:first-child {
                    margin-top: 2rem;
                }
                &:last-child {
                    margin-bottom: 2rem;
                }
            }
            @media screen and (min-width: 426px) {
                border-radius: 1rem;
            }
            @media screen and (min-width: 768px) {
                margin: 0.5rem;
                &:first-child {
                    margin-left: 1rem;
                }
                &:last-child {
                    margin-right: 1rem;
                }
            }
            @media screen and (min-width: 1440px) {
                margin: 1rem;
            }
            & > .tile-content {
                position: absolute;
                top: 0;
                left: 0;

                display: flex;
                align-items: flex-start;
                justify-content: flex-end;
                flex-direction: column;
                width: 100%;
                height: 100%;
                padding: 1rem;
               
                & > .smaller {
                    font-size: 0.875rem;
                    @media screen and (min-width: 1220px) {
                        font-size: 1rem;
                    }
                    &.tablet {
                        display: none;
                    }
                    &.desktop {
                        display: block;
                    }
                    @media screen and (min-width: 768px) {
                        &.tablet {
                            display: block;
                        }
                        &.desktop {
                            display: none;
                        }
                    }
                    @media screen and (min-width: 1000px) {
                        &.tablet {
                            display: none;
                        }
                        &.desktop {
                            display: block;
                        }
                    }
                    letter-spacing: 0.5px;
                    font-family: 'Nunito', sans-serif;
                }
                font-size: 1.5rem;
                @media screen and (min-width: 1220px) {
                    font-size: 2rem;
                    padding: 2rem;
                }
                font-family: 'Nunito', sans-serif;
                letter-spacing: 1px;
                color: #fff;
                background: linear-gradient(rgba(0,0,0,0), rgba(0, 0, 0, 0.5));   
                @media screen and (min-width: 768px) {
                    opacity: 0.8;
                    background: linear-gradient(rgba(0,0,0,0) 30%, rgba(0, 0, 0, 0.8));   
                }
                will-change: opacity;
                transition: opacity 0.3s linear;
            }
            &:hover > .tile-content {
                opacity: 1;
            }
            & > picture > img {
                width: 100%;
                height: auto;
                will-change: transform;
                transform: scale(1);
                transition: transform 0.3s linear;
            }
            &:hover > picture > img {
                transform: scale(1.075);
            }
        }
    }
}