@import "../config.scss";
@import "../helpers/fluid-type.scss";
.product {
    &-jumbotron {
        padding: 1rem 0;
        @media (min-width: 1024px) {
            padding: 6rem 0;
        }
        & .container {
            max-width: 1440px;
            margin: 0 auto;

            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            @media (min-width: 1024px) {
                flex-direction: row;
                justify-content: space-between;
            }
            & .left {
                width: calc(100% - 6rem);
                @media (min-width: 1024px) {
                    width: 40%;
                }
                max-width: 576px;
                margin: 0 auto;
                padding: 2rem;
                background: #fff;
                border-radius: 2rem;
                box-shadow: 0 25px 99px 0 rgba(10,22,31,.05);

                & .swiper {
                    &-container:first-child {
                        overflow: visible;
                        margin-bottom: 2rem;
                        & .swiper-wrapper {
                            overflow: hidden;
                        }
                    }
                    &-button-prev, &-button-next {
                        padding: 2rem;
                        border-radius: 1rem;
                        background: #fff;
                        box-shadow: 1px 1px 0 0 rgba(0,0,0,0.10);

                        &:after {
                            font-size: 2rem;
                            color: #404E65;
                        }
                    }
                    &-button-prev {
                        left: -4rem;
                    }
                    &-button-next {
                        right: -4rem;
                    }
                    &-slide {
                        height: auto;
                        background: #fff;
            
                        @media (max-width: 1024px) {
                            border-radius: 1rem;
                            //@include BoxShadow(1);
                        }

                        & > .wrapper {
                            height: 100%;
                            display: flex;
                            overflow: hidden;
                            align-items: center;
                            justify-content: center;
                        }
                        &.thumb {
                            border: 1px solid rgba(0, 0, 0, 0.1);
                            border-radius: 4px;
                            width: 100%;
                            max-width: 50px;
                            height: 100%;
                            max-height: 50px;
                            & > .wrapper > img {
                                width: auto;
                                max-width: 50px;
                                height: auto;
                                max-height: 50px;
                                margin: auto;
                            }

                            opacity: 0.5;
                            &:hover {
                                opacity: 0.75;
                                border: 1px solid rgba(0, 0, 0, 0.2);
                            }
                            &.swiper-slide-thumb-active {
                                opacity: 1;
                                border: 1px solid rgba(0, 0, 0, 0.3);
                            }
                        }
                            
                        @media (min-width: 1024px) {
                            &.view {
                                // width: 100%;
                                // max-width: 500px;
                                // height: 100%;
                                // max-height: 500px;
                                & > .wrapper > img {
                                    width: auto;
                                    max-width: 500px;
                                    height: auto;
                                    max-height: 500px;
                                    margin: auto;
                                }
                            }
                        }
                    }
                }
            }
            & .right {
                display: flex;

                
                flex: 1;
                flex-direction: column;

                width: 100%;
                padding: 1rem;
                @media (min-width: 1024px) {
                    width: 60%;
                    padding: 2rem 2rem 2rem 4rem;
                }
                & .brand {
                    display: flex;
                    align-items: center;
                    & img {
                        width: auto;
                        max-width: 12rem;
                        height: auto;
                        max-height: 6rem;
                    }
                    margin-bottom: 0.5rem;
                }
            }
        }
    }
    &-name {
        color: #212121;
        margin: 0 0 0.5rem 0;
        @include FluidType(320px, 2560px, 32px, 40px, 0, 0);
        & span {
            display: none;
        }
    }
    &-price {
        display: flex;
        align-items: center;
        margin: 0 0 0.5rem 0;
        font-weight: 800;
        @include FluidType(320px, 2560px, 24px, 32px, 0, 0);
        color: #21ba45;
        & .price--rrp, .price--non-sale, .price--discounted {
            margin-right: 1rem;
        }
    }
    &-rating {
        display: flex;
        align-items: center;
        margin: 0 0 0.5rem 0;
        & span {
            margin-left: 0.5rem;
            color: #616161;
        }
        &_stars {
            --percent: calc(var(--rating) / 5 * 100%);
            
            display: inline-block;
            font-size: var(--star-size);
            font-family: Times; // make sure ★ appears correctly
            line-height: 1rem;
            
            &::before {
                content: '★★★★★';
                background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
    &-features {
        & .item {
            display: flex;
            align-items: center;
            font-weight: 900;
            margin-bottom: 1rem;
            & svg {
                margin-right: 0.5rem;
            }
            &.bad {
                color: #db2828;
                & svg {
                    fill: #db2828;
                }
            }
            &.warning {
                color: #f2711c;
                & svg {
                    fill: #f2711c;
                }
            }
            &.shipping {
                align-items: flex-start;
                color: #21ba45;
                & svg {
                    fill: #21ba45;
                }
            }
            &.info {
                color: #2185d0;
                & svg {
                    fill: #2185d0;
                }
            }
        }
    }
    &-bulk {
        margin: 0 0 0.5rem 0;
        & > label {
            display: inline-flex;
            align-items: center;
            overflow: visible;
            padding: 0.5rem 1rem;
            border-radius: 2rem;
            color: #fff;
            text-shadow: 1px 1px 1rem rgba(0, 0, 0, 0.5);
            box-shadow: 0 25px 99px 0 rgba(10,22,31,.05);
            background-image: radial-gradient( circle 542px at 16.6% 38.6%,  rgba(66,164,14,1) 0%, rgba(86,230,99,1) 100.2% );
            & > svg {
                overflow: visible;
                width: 1.5rem;
                height: 1.5rem;
                fill: #fff;
                & > path {
                    filter: url(#dropshadow);
                }
            }
            &:hover, &:active, &:focus {
                text-decoration: none;
                cursor: pointer;
            }
        }
        & > ul {
            max-height: 0;
            overflow: hidden;
            will-change: max-height;
            transition: max-height 0.5s ease-in-out;
            list-style: none;
            margin: 0;
            & > li {
                margin: 0 0 0.5rem 0;
            }
        }
        & > input[type=checkbox] {
            display: none;
            &:checked ~ label {
                
            }
            &:checked ~ ul {
                max-height: 500px;
            }
        }
    }
    &-atc {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 0 0 0.5rem 0;
        & .form-field.form-field--increments {
            display: flex;
            align-items: center;
            height: 100%;
            border: 1px solid #21ba45;
            border-radius: 0.5rem;
            margin: 0 0.5rem 0 0;
            padding: 1rem;
            & .form-increment input {
                width: 3rem;
            }
        }
        & label {
            display: none;
        }
        & button[type="submit"] {
            display: flex;
            align-items: center;
            margin: 0;
            padding: 1rem;
            font-size: 1rem;
            @media (min-width: 1024px) {
                padding: 1rem 2rem;
                font-size:  1.15rem;
                letter-spacing: 1px;
            }
            color: #fff;
            box-shadow: 0 25px 99px 0 rgba(10,22,31,.05);
            background: linear-gradient(to right, #434343 0%, #000 100%);
            border-radius: 0.5rem;
            & svg {
                width: 1.15rem;
                height: 1.15rem;
                fill: #fff;
                margin-right: 5px;
                @media (min-width: 1024px) {
                    margin-right: 0.5rem;
                }
            }
            &, &:hover, &:focus, &:active {
                outline: none;
            }
        }
    }
    &-details {
        max-width: 1024px;
        margin: 0 auto;
    }
}



.alert {
    &-osw {
        padding: 2rem 1rem;
        background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(228,118,0,1) 0%, rgba(247,189,2,1) 90% );
        & .wrap {
            max-width: 768px;
            margin: 0 auto;

            display: flex;
            flex-direction: column;
            @media (min-width: 500px) {
                flex-direction: row;
                text-align: left;
                & .right {
                    margin-top: 0;
                    margin-left: auto;
                }
            }
            align-items: center;
            justify-content: space-between;
            text-align: center;
            & h5 {
                margin-bottom: 0.5rem;
            }
            & h5, & h6 {
                color: #fff;
            }
            & h6 {
                font-family: $font-family-base;
                font-weight: 400;
            }
            & .right a {
                display: block;
                margin-top: 1rem;
                padding: 0.5rem 2rem;
                text-transform: uppercase;
                color: #fff;
                border-radius: 2rem;
                background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(0,0,0,1) 0%, rgba(0,0,0,1) 90% );
                box-shadow: 0 25px 99px 0 rgba(10,22,31,.05);
                & > svg {
                    fill: #fff;
                    margin-left: 0.5rem;
                }
            }
        }
    }
    &-x1 {
        width: 100%;

        font-size: 1rem;
        font-family: $font-family-base;
        padding: 2rem 1rem;

        color: #fff;
        background-image: radial-gradient( circle farthest-corner at 10.6% 22.1%,  rgba(206,18,18,1) 0%, rgba(122,21,21,1) 100.7% );
        & .wrap {
            display: flex;
            flex-direction: column;
            @media (min-width: 768px) {
                flex-direction: row;
            }
            align-items: center;
            justify-content: center;
            text-align: center;

            max-width: 1440px;
            margin: 0 auto;
            & svg {
                width: 1.25rem;
                height: 1.25rem;
                fill: #fff;
                margin: 0 0 1rem 0;
                @media (min-width: 768px) {
                    margin: 0 1rem 0 0;
                }
            }
        }
    }
}



.bg-reviews {
    box-shadow: 0rem 0.5rem 1.5rem rgba(0, 0, 0, 0.025);
    background-image: linear-gradient(135deg, #f9f9f9 1%, #f5f5f5 100%);
    border: 1px solid rgba(0, 0, 0, 0.025);
    //linear-gradient(45deg, rgba(194, 233, 221, 0.5) 1%, rgba(104, 119, 132, 0.5) 100%), 
    //linear-gradient(-45deg, #494d71 0%, rgba(217, 230, 185, 0.5) 80%);
    //background: 
}

.rating__label {
    cursor: pointer;
    padding: 1em;
    display: flex;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin-left: -1px;
  }
  .rating-icon {
    z-index: 2;
    transition: fill 0.3s ease-in-out;
  }
  .rating__label:nth-of-type(4) .rating-icon {
    transition-delay: 0.075s;
  }
  .rating__label:nth-of-type(3) .rating-icon {
    transition-delay: 0.15s;
  }
  .rating__label:nth-of-type(2) .rating-icon {
    transition-delay: 0.225s;
  }
  .rating__label:nth-of-type(1) .rating-icon {
    transition-delay: 0.3s;
  }
  .rating__label:nth-of-type(0) .rating-icon {
    transition-delay: 0.375s;
  }

  .icon-svg {
    width: 1em;
    height: 1em;
    transform-origin: 50% 50%;
    &.sprite {
        display: none;
    }
    &.r-180 {
        transform: rotate(180deg);
    }
  }
  
.svg-check {
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    &.animated {
        & {
            .check-circle {
                animation: animated-check-stroke .6s $curve forwards;
            }
            .check-icon {
                animation: animated-check-stroke .3s $curve .8s forwards;
            }
        }
        &.green {
            animation: animated-check-fill-green .4s ease-in-out .4s forwards, animated-check-scale .3s ease-in-out .9s both;
            box-shadow: inset 0px 0px 0px theme-color(green);
            & .check-circle {
                stroke: theme-color(green);
            }
        }
    }
    & {
        .check-circle {
            stroke-dasharray: 166;
            stroke-dashoffset: 166;
            stroke-width: 2;
            stroke-miterlimit: 10;
            fill: none;
        }
        .check-icon {
            transform-origin: 50% 50%;
            stroke-dasharray: 48;
            stroke-dashoffset: 48;
        }
    }
}
@keyframes animated-check-stroke {
    100% {
        stroke-dashoffset: 0;
    }
}
@keyframes animated-check-scale {
    0%, 100% {
        transform: none;
    }
    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}
@keyframes animated-check-fill-green {
    100% {
        box-shadow: inset 0px 0px 0px 30px theme-color(green);
    }
}