:root {
    --star-size: 32px;
    --star-color: #BDBDBD;
    --star-background: gold;
}
.product {
    &-jumbotron {
        padding: 6rem 0;
        & .container {
            max-width: 1440px;
            margin: 0 auto;

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            & .left {
                width: 40%;
                padding: 2rem;
                background: #fff;
                border-radius: 2rem;
                box-shadow: 0 25px 99px 0 rgba(10,22,31,.05);

                & .swiper {
                    &-container:first-child {
                        overflow: visible;
                        margin-bottom: 2rem;
                        & .swiper-wrapper {
                            overflow: hidden;
                        }
                    }
                    &-button-prev, &-button-next {
                        padding: 2rem;
                        border-radius: 1rem;
                        background: #fff;
                        box-shadow: 1px 1px 0 0 rgba(0,0,0,0.10);

                        &:after {
                            font-size: 2rem;
                            color: #404E65;
                        }
                    }
                    &-button-prev {
                        left: -4rem;
                    }
                    &-button-next {
                        right: -4rem;
                    }
                    &-slide {
                        background: #fff;
            
                        @media (max-width: 1024px) {
                            border-radius: 1rem;
                            //@include BoxShadow(1);
                        }

                        & > .wrapper {
                            height: 100%;
                            display: flex;
                            overflow: hidden;
                            align-items: center;
                            justify-content: center;
                        }
                        &.thumb {
                            border: 1px solid rgba(0, 0, 0, 0.1);
                            border-radius: 4px;
                            width: 100%;
                            max-width: 50px;
                            height: 100%;
                            max-height: 50px;
                            & > .wrapper > img {
                                width: auto;
                                max-width: 50px;
                                height: auto;
                                max-height: 50px;
                                margin: auto;
                            }

                            opacity: 0.5;
                            &:hover {
                                opacity: 0.75;
                                border: 1px solid rgba(0, 0, 0, 0.2);
                            }
                            &.swiper-slide-thumb-active {
                                opacity: 1;
                                border: 1px solid rgba(0, 0, 0, 0.3);
                            }
                        }
                        &.view {
                            width: 100%;
                            max-width: 500px;
                            height: 100%;
                            max-height: 500px;
                            & > .wrapper > img {
                                width: auto;
                                max-width: 500px;
                                height: auto;
                                max-height: 500px;
                                margin: auto;
                            }
                        }
                    }
                }
            }
            & .right {
                display: flex;

                padding: 2rem 2rem 2rem 4rem;
                
                flex: 1;
                flex-direction: column;
                width: 60%;

                & .brand {
                    display: flex;
                    align-items: center;
                    & img {
                        width: 100%;
                        max-width: 12rem;
                        height: auto;
                        height: 6rem;
                    }
                    margin-bottom: 0.5rem;
                }
            }
        }
    }
    &-name {
        color: #212121;
        margin: 0 0 0.5rem 0;
        @include FluidType(320px, 2560px, 32px, 40px, 0, 0);
        & span {
            display: none;
        }
    }
    &-price {
        display: flex;
        align-items: center;
        margin: 0 0 0.5rem 0;
        font-weight: 800;
        @include FluidType(320px, 2560px, 24px, 32px, 0, 0);
        color: #21ba45;
        & .price--rrp, .price--non-sale, .price--discounted {
            margin-right: 1rem;
        }
    }
    &-rating {
        display: flex;
        align-items: center;
        margin: 0 0 0.5rem 0;
        & span {
            margin-left: 0.5rem;
            color: #616161;
        }
        &_stars {
            --percent: calc(var(--rating) / 5 * 100%);
            
            display: inline-block;
            font-size: var(--star-size);
            font-family: Times; // make sure ★ appears correctly
            line-height: 1rem;
            
            &::before {
                content: '★★★★★';
                background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
    &-features {
        & .item {
            display: flex;
            align-items: center;
            font-weight: 900;
            margin-bottom: 1rem;
            & svg {
                margin-right: 0.5rem;
            }
            &.bad {
                color: #db2828;
                & svg {
                    fill: #db2828;
                }
            }
            &.warning {
                color: #f2711c;
                & svg {
                    fill: #f2711c;
                }
            }
            &.shipping {
                align-items: flex-start;
                color: #21ba45;
                & svg {
                    fill: #21ba45;
                }
            }
            &.info {
                color: #2185d0;
                & svg {
                    fill: #2185d0;
                }
            }
        }
    }
    &-bulk {
        margin: 0 0 0.5rem 0;
        & > label {
            overflow: visible;
            padding: 0.5rem 1rem;
            border-radius: 2rem;
            color: #fff;
            text-shadow: 1px 1px 1rem rgba(0, 0, 0, 0.5);
            box-shadow: 0 25px 99px 0 rgba(10,22,31,.05);
            background-image: radial-gradient( circle 542px at 16.6% 38.6%,  rgba(66,164,14,1) 0%, rgba(86,230,99,1) 100.2% );
            & > svg {
                overflow: visible;
                width: 1.5rem;
                height: 1.5rem;
                fill: #fff;
                & > path {
                    filter: url(#dropshadow);
                }
            }
            &:hover, &:active, &:focus {
                text-decoration: none;
                cursor: pointer;
            }
        }
        & > ul {
            max-height: 0;
            overflow: hidden;
            will-change: max-height;
            transition: max-height 0.5s ease-in-out;
            list-style: none;
            margin: 0;
            & > li {
                margin: 0 0 0.5rem 0;
            }
        }
        & > input[type=checkbox] {
            display: none;
            &:checked ~ label {
                
            }
            &:checked ~ ul {
                max-height: 500px;
            }
        }
    }
    &-atc {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 0 0 0.5rem 0;
        & .form-field.form-field--increments {
            display: flex;
            align-items: center;
            height: 100%;
            border: 1px solid #21ba45;
            border-radius: 0.5rem;
            margin: 0 0.5rem 0 0;
            padding: 1rem;
            & .form-increment input {
                width: 5rem;
            }
        }
        & label {
            display: none;
        }
        & button[type="submit"] {
            display: flex;
            align-items: center;
            margin: 0;
            padding: 1rem 2rem;
            font-size:  1.15rem;
            letter-spacing: 1px;
            color: #fff;
            box-shadow: 0 25px 99px 0 rgba(10,22,31,.05);
            background: linear-gradient(to right, #434343 0%, #000 100%);
            border-radius: 0.5rem;
            & svg {
                width: 1.15rem;
                height: 1.15rem;
                fill: #fff;
                margin-right: 0.5rem;
            }
            &, &:hover, &:focus, &:active {
                outline: none;
            }
        }
    }
    &-details {
        max-width: 1024px;
        margin: 0 auto;
    }
}