{{#partial "page"}}
<div class="container">
    <h1 class="display-1">{{lang 'account.addresses.heading' }}</h1>
    {{> os/components/common/breadcrumbs breadcrumbs=breadcrumbs}}
    
    <div class="row mt-4">
        <div class="col-12 col-lg-3 col-xl-2">
            {{> os/components/account/navigation account_page='addresses'}}
        </div>
        <div class="col-12 col-lg-9 col-xl-10">
            {{#if forms.address.error}}
                {{> components/common/alert-error forms.address.error}}
            {{/if}}

            {{#if forms.address.address_id}}
                <h2 class="h4 mb-4">{{lang 'forms.address.edit.heading'}}</h2>
            {{else}}
                <h2 class="h4 mb-4">{{lang 'forms.address.add.heading'}}</h2>
            {{/if}}
            <div class="ui segment">
                <form action="{{forms.address.action}}" data-address-form class="form" method="post">
                    {{#if forms.address.address_id }}
                        <input type="hidden" name="shipid" value="{{forms.address.address_id}}">
                    {{/if}}
                    <fieldset class="form-fieldset">
                        <div class="form-row form-row--half">
                            {{#each forms.address.shipping_fields }}
                                {{{dynamicComponent 'components/common/forms'}}}
                            {{/each}}
                        </div>
                    </fieldset>
                    <div class="form-actions">
                        <input type="submit" class="ui large green button rounded-pill" value="{{lang 'forms.address.submit_value'}}">
                        <a href="{{urls.account.addresses}}" class="ui inverted red button rounded-pill">{{lang 'common.cancel'}}</a>
                        {{inject 'required' (lang 'common.required')}}
                        {{inject 'state_error' (lang 'errors.state_error')}}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{/partial}}
{{> layout/base}}
