{{#partial "page"}}

{{#if 1 '==' 2}}
<div class="container">
    <h1 class="display-1">{{lang 'account.messages.heading' }}</h1>
    {{> os/components/common/breadcrumbs breadcrumbs=breadcrumbs}}

    <div class="row mt-4">
        <div class="col-12 col-lg-3 col-xl-2">
            {{> os/components/account/navigation account_page='messages'}}
        </div>
        <div class="col-12 col-lg-9 col-xl-10">
            {{> os/components/account/messages-list messages=customer.inbox.messages}}
            
            <h4 class="mt-4 mb-2">{{lang 'forms.inbox.send_message'}}</h4>
            {{#if forms.inbox.error}}
                {{> components/common/alert-error forms.inbox.error}}
            {{/if}}
            {{#if forms.inbox.success}}
                {{> components/common/alert-success forms.inbox.success}}
            {{/if}}

            {{> os/components/account/messages-form}}
        </div>
    </div>
</div>
{{else}}
    <section class="container flex-page d-flex align-items-center justify-content-center pt-0">
        <div class="row text-left text-sm-center justify-content-center align-items-center">
            <div class="col">
                <h1 class="display mb-4">
                    {{lang 'page_not_found.page_heading'}}
                    <br>
                        <small>
                            {{lang 'page_not_found.message'}}
                        </small>
                </h1>
                <div class="max-w-500 mx-auto">
                    {{> os/components/common/search-box}}
                </div>
            </div>
        </div>
    </section>
{{/if}}

{{/partial}}
{{> layout/base}}
