<nav id="accountMenu" class="primary sidebar d-none" aria-hidden="true">
    <div class="row text-center">
        <a class="col-6" href="#">
            <i class="fa fa-star fa-2x"></i>
        </a>
        <a class="col-3" href="#">
            <i class="fa fa-user-circle fa-5x"></i>
        </a>
        <a class="col-3" href="#">
            <i class="fa fa-question-circle fa-2x"></i>
        </a>

        <ul class="mt-3">
            <li>
                <a class="nav-link" href="/account.php">
                    Login
                </a>
            </li>
            <li>
                <a class="nav-link" href="{{urls.auth.create_account}}">
                    Sign Up
                </a>
            </li>
        </ul>
    </div>
</nav>
