/*
 * CSS-Tricks Fluid Typography
 *
 * Here's a robust mixin for fluid typography.
 * Based on https://css-tricks.com/snippets/css/fluid-typography/ 
 *
 */
 @function StripUnit($value) {
    @return $value / ($value * 0 + 1);
}
@mixin FluidType($min-vw, $max-vw, $min-font-size, $max-font-size, $min-letter-spacing, $max-letter-spacing) {
    $u1: unit($min-vw);
    $u2: unit($max-vw);
    $u3: unit($min-font-size);
    $u4: unit($max-font-size);
    $u5: unit($min-letter-spacing);
    $u6: unit($max-letter-spacing);

    @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 { // and $u1 == $u5 and $u1 == $u6 {
        & {
            font-size: $min-font-size;
            letter-spacing: $min-letter-spacing;
            @media screen and (min-width: $min-vw) {
                font-size: calc(#{$min-font-size} + #{StripUnit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{StripUnit($max-vw - $min-vw)}));
                letter-spacing: calc(#{$min-letter-spacing} + #{StripUnit($max-letter-spacing - $min-letter-spacing)} * ((100vw - #{$min-vw}) / #{StripUnit($max-vw - $min-vw)}));
            }
            @media screen and (min-width: $max-vw) {
                font-size: $max-font-size;
                letter-spacing: $max-letter-spacing;
            }
        }
    }
}

 html, body {
    font-size: 16px; //@include FluidType(320px, 1200px, 14px, 16px);
}

/*
 * Headers
 *
 * Here we have all of the display, header and subheader styles.
 *
 */
 $headers: ('h1', 'h2', 'h3', 'h4', 'h5', 'h6');

 @each $header in $headers {
     #{$header}, #{$header} small, .subheader {
         font-family: $subheader-font;
     }
 }
 
 .spread.most {
    letter-spacing: 0.25rem;
 }
 .spread.more {
    letter-spacing: 0.1rem;
 }
 .spread {
    letter-spacing: 0.05rem;
 }

 .small {
    font-weight: 400;
    color: rgba(33, 37, 41, 0.8); // Everything for small is always 80%
}

 h1, .h1 {
     @include FluidType(320px, 2560px, 36px, 72px, 0px, -1.5px);
     font-weight: 300;
     &-md {
        @include media-breakpoint-up(md) {
            @include FluidType(320px, 2560px, 36px, 72px, 0px, -1.5px);
            font-weight: 300;
        }
     }
     &-lg {
        @include media-breakpoint-up(lg) {
            @include FluidType(320px, 2560px, 36px, 72px, 0px, -1.5px);
            font-weight: 300;
        }
     }
     &-xl {
        @include media-breakpoint-up(xl) {
            @include FluidType(320px, 2560px, 36px, 72px, 0px, -1.5px);
            font-weight: 300;
        }
     }
 }
 h2, .h2 {
     @include FluidType(320px, 2560px, 30px, 60px, 0px, -0.5px);
     font-weight: 300;
     &-lg {
        @include media-breakpoint-up(lg) {
            @include FluidType(320px, 2560px, 30px, 60px, 0px, -0.5px);
            font-weight: 300;
        }
     }
     &-xl {
        @include media-breakpoint-up(xl) {
            @include FluidType(320px, 2560px, 30px, 60px, 0px, -0.5px);
            font-weight: 300;
        }
     }
 }
 h3, .h3 { 
     @include FluidType(320px, 2560px, 24px, 48px, 0px, 0px);
     font-weight: 400;
 }
 h4, .h4 {
     @include FluidType(320px, 2560px, 22px, 34px, 0px, -0.25px);
     font-weight: 400;
 }
 h5, .h5 {
     @include FluidType(320px, 2560px, 20px, 24px, 0px, 0px);
     font-weight: 600;
 }
 h6, .h6 {
     @include FluidType(320px, 2560px, 18px, 20px, 0px, 0.15px);
     font-weight: 600;
 }
 
 *[class^="display-"], .display  {
     font-family: $header-font
 }
 .display-1 {
     @include FluidType(320px, 2560px, 48px, 96px, 0px, -1.5px);
 }
 .display-2 {
     @include FluidType(320px, 2560px, 42px, 84px, 0px, -0.5px);
 }
 .display-3 {
     @include FluidType(320px, 2560px, 36px, 72px, 0px, -0.25px);
 }
 .display-4 {
     @include FluidType(320px, 2560px, 30px, 60px, 0px, 0px);
 }

 /*p {
     line-height: 1rem;
 }*/
 
 /*
  * Other Typography
  *
  * Here we have all of the body, caption, sub, sup and overline styles.
  *
  */
 caption, .caption {
     font-size: 0.75rem;
 }

 
.link-unstyled, .link-unstyled:visited, .link-unstyled:hover, .link-unstyled:active, .link-unstyled:focus, .link-unstyled:active:hover {
    font-style: inherit;
    color: inherit;
    background-color: transparent;
    font-size: inherit;
    text-decoration: none;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    font-family: inherit;
    border-radius: inherit;
    border: inherit;
    outline: inherit;
    box-shadow: inherit;
    vertical-align: inherit;
}