{{#partial "page"}}
<section class="flex-page d-flex">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <h1 class="text-sm-center display h2 mb-2 mb-lg-4 mb-xl-6 animated fadeInUp">
                            {{lang 'reset_password.heading' }}</h1>
                    </div>
                </div>
                <div class="row justify-content-center align-items-center">
                    <div class="col-12 col-sm-10 col-md-8 col-lg-6">
                        <div class="ui segments">
                            <div class="ui segment">
                                <a class="ui basic tiny button borderless" href="/login.php"><i class="fas fa-arrow-left"></i> Return to sign in</a>
                            </div>
                            <div class="ui segment">
                                <p>{{lang 'reset_password.intro' }}</p>
                                {{#if forms.forgot_password.error}}
                                    {{> components/common/alert-error forms.forgot_password.error}}
                                {{/if}}
                                <form class="m-0" action="{{urls.auth.send_password_email}}" class="form forgot-password-form" method="post">
                                    {{inject 'useValidEmail' (lang 'forms.validate.common.email_address')}}
                                    <div class="form-group">
                                        <label for="email">{{lang 'common.email_address'}}</label>
                                        <input class="form-control" name="email" id="email" type="email" formnovalidate>
                                    </div>
                                    <div class="text-lg-center">
                                        <button type="submit" class="ui rounded-pill teal button">
                                            {{lang 'forms.new_password.submit_value' }} <i class="fas fa-angle-double-right"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <div class="ui segment d-flex align-items-center justify-content-sm-end">
                                <p class="m-0 mr-1 small"><strong>Need more help?</strong></p>
                                <a class="ui basic tiny pink button borderless" href="https://support.organicstart.com" target="_blank">Visit Support <i class="fas fa-external-link-alt"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
{{/partial}}
{{> layout/base}}
