{{#partial "page"}}
<section class="flex-page pt-0">
    <div class="container h-100">

        <div class="row justify-content-center align-items-center">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <h1 class="text-center display mb-4 mb-lg-6 mb-xl-8">{{lang 'login.heading' }}</h1>
                    </div>
                </div>
                <div class="row justify-content-center align-items-center">
                    <div class="col-4 offset-4">
                        <div class="ui segment">
                            {{#if forms.login.error}}
                            {{> components/common/alert-error forms.login.error}}
                            {{/if}}
                            {{#if forms.login.success}}
                            {{> components/common/alert-success forms.login.success}}
                            {{/if}}
                            <form class="" action="{{urls.auth.check_login}}" method="post">
                                {{inject 'useValidEmail' (lang 'forms.validate.common.email_address')}}
                                {{inject 'enterPass' (lang 'forms.validate.common.password')}}
                                <div class="form-field">
                                    <label class="form-label" for="login_email">{{lang 'login.field_email'}}</label>
                                    <input class="form-input" name="login_email" id="login_email" type="email">
                                </div>
                                <div class="form-field">
                                    <label class="form-label" for="login_pass">{{lang 'login.field_password'}}</label>
                                    <input class="form-input" id="login_pass" type="password" name="login_pass"
                                        autocomplete="off">
                                </div>
                                <div class="form-actions">
                                    <input type="submit" class="button button--primary"
                                        value="{{lang 'login.submit_value' }}">
                                    <a class="forgot-password"
                                        href="{{urls.auth.forgot_password}}">{{lang 'login.forgot_password' }}</a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-4">
                        {{#if settings.account_creation_enabled}}
                        <p class="lead"><strong>{{lang 'login.new_customer.heading' }}</strong></p>
                        <p class="new-customer-intro">{{lang 'login.new_customer.intro' }}</p>
                        <ul class="new-customer-fact-list">
                            <li class="new-customer-fact">{{lang 'login.new_customer.fact1' }}</li>
                            <li class="new-customer-fact">{{lang 'login.new_customer.fact2' }}</li>
                            <li class="new-customer-fact">{{lang 'login.new_customer.fact3' }}</li>
                            <li class="new-customer-fact">{{lang 'login.new_customer.fact4' }}</li>
                            <li class="new-customer-fact">{{lang 'login.new_customer.fact5' }}</li>
                        </ul>
                        <a href="{{urls.auth.create_account}}"><button
                                class="ui button bg-moss-neg-8">{{lang 'login.new_customer.create_account' }}</button></a>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{/partial}}
{{> layout/base}}
