.formula {
    margin: 0;
    padding: 0!important;
    background-color: #fff;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(226,240,254,1) 0%, rgba(255,247,228,1) 90% );
    &-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-align: center;
        @media (min-width: 450px) {
            max-width: 450px;
        }
        @media (min-width: 768px) {
            max-width: 800px;
        }
        @media (min-width: 1024px) {
            max-width: 1024px;
        }
        @media (min-width: 1440px) {
            max-width: 1440px;
        }
        margin: 0 auto;
        padding: 0 0 2rem 0;
        & a, & img {
            width: 100%;
            margin: 0;
        }
    }
    &-cta {
        display: flex;
        align-items: center;
        justify-content: center;
        & > a {
            margin: 1rem 0;
            padding: 1rem 2rem;
            color: #000;
            background: #fff;
            border-radius: 2rem;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 400;
            box-shadow: 0 25px 99px 0 rgba(10,22,31,.05);
            & > svg {
                fill: #000;
            }
        }
    }
    &-header {
        text-align: center;
        padding: 1rem;
        margin: 1rem 0 0 0;
        & > h2 {
            color: #37474F;
            font-family: $header-font;
            font-weight: 400;
            @include FluidType(320px, 2560px, 32px, 64px, 0px, 0px);
            margin: 0 0 1rem 0;
        }
        & > h3 {
            color: #263238;
            font-family: $subheader-font;
            font-weight: 400;
            @include FluidType(320px, 2560px, 24px, 40px, 0.25px, 0.75px);
            margin: 0 0 1rem 0;
        }
        & > h4 {
            color: #263238;
            font-weight: 400;
            margin: 0;
        }
    }
}