#serenityKids {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    max-width: 1440px;
    margin: 0 auto;
    & .right {
        display: flex;
        flex-direction: column;
        & svg {
            width: 100%;
            max-width: 250px;
            height: auto;
            padding: 1rem;
        }
        & h2 {
            margin: 1rem;
        }
    }
}