
<li role="none">
    <span itemprop="name"><a role="menuitem" aria-haspopup="true" aria-expanded="false" tabindex="-1" itemprop="url" href="/baby-food/">Baby Food</a></span>
    <div class="baby-food dropdown extra">
        <div class="style image-left">
            <div class="dropdown-image">
                <!--<p class="mt-auto text-white text-center font-weight-bold lead pb-3 subheader" style="text-shadow: -1px -1px 1px rgba(0,0,0,0.5), 1px 1px 1px rgba(0,0,0,0.5), 1px 1px 5px #000;">
                    Wholesome and Nutritious
                </p>-->
            </div>
            <div class="menu" role="menu" aria-label="Baby Food" itemscope itemtype="http://www.schema.org/SiteNavigationElement">
                <ul role="none">
                    <li role="none" itemprop="name">
                        <a role="menuitem" tabindex="-1" itemprop="url" href="/cow-milk/">Cow Milk</a>
                    </li>
                    <li role="none" itemprop="name">
                        <a role="menuitem" tabindex="-1" itemprop="url" href="/baby-food/goat-milk/">Goat Milk</a>
                    </li>
                    <li role="none" itemprop="name">
                        <a role="menuitem" tabindex="-1" itemprop="url" href="/baby-food/porridge/">Porridge &amp; Cereals</a>
                    </li>
                    <li role="none" itemprop="name">
                        <a role="menuitem" tabindex="-1" itemprop="url" href="/baby-food/fruit-vegetable-purees/">Fruit &amp; Veggie Purees</a>
                    </li>
                    <li role="none" itemprop="name">
                        <a role="menuitem" tabindex="-1" itemprop="url" href="/baby-food/meat-fish-purees/">Meat &amp; Fish Purees</a>
                    </li>
                    <li role="none" itemprop="name">
                        <a role="menuitem" tabindex="-1" itemprop="url" href="/baby-food/snacks-teas/">Snacks and Teas</a>
                    </li>
                    <li role="none" itemprop="name">
                        <a role="menuitem" tabindex="-1" itemprop="url" href="/baby-food/storage-accessories/">Storage and Accessories</a>
                    </li>
                </ul>
                <ul role="none">
                    <li role="none" itemprop="name">
                        <a role="menuitem" tabindex="-1" itemprop="url" href="/baby-food/">All Baby Food</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</li>
