
<li itemprop="name">
    <a role="button" itemprop="url" id="babyFoodDropdown" aria-haspopup="true" aria-expanded="false" href="/baby-food/">Baby Food</a>
    <div class="baby-food dropdown extra" aria-labelledby="babyFoodDropdown">
        <div class="style">
            <div class="row m-0">
                <div class="col-6 m-0 p-0">
                    <div class="w-100 h-100 dropdown-image-left d-flex justify-content-center align-items-end">
                        <p class="mt-auto text-white text-center font-weight-bold lead pb-3 subheader" style="text-shadow: -1px -1px 1px rgba(0,0,0,0.5), 1px 1px 1px rgba(0,0,0,0.5), 1px 1px 5px #000;">
                            Wholesome and Nutritious
                        </p>
                    </div>
                </div>
                <ul class="col-6 m-0 p-5 list-unstyled" role="navigation" aria-label="Baby Food" itemscope="" itemtype="http://www.schema.org/SiteNavigationElement">
                    <li itemprop="name">
                        <a itemprop="url" class="dropdown-item p-0" href="/baby-food/porridge/">Porridge</a>
                    </li>
                    <li itemprop="name">
                        <a itemprop="url" class="dropdown-item p-0" href="/baby-food/snacks-teas/">Snacks &amp; Teas</a>
                    </li>
                    <li itemprop="name">
                        <a itemprop="url" class="dropdown-item p-0" href="/baby-food/fruit-vegetable-purees/">Fruit &amp; Vegetable Purees</a>
                    </li>
                    <li itemprop="name">
                        <a itemprop="url" class="dropdown-item p-0 mb-0" href="/baby-food/storage-accessories/">Storage &amp; Accessories</a>
                    </li>
                    <li class="text-right">
                        <a class="dropdown-item p-0 mt-5 mb-0 ui small button rounded-pill px-3 py-1 w-auto align-middle" href="/baby-food/"><small>VIEW ALL <i class="fas fa-arrow-right"></i></small></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</li>