
<li itemprop="name">
    <a role="button" itemprop="url" id="babyCareDropdown" aria-haspopup="true" aria-expanded="false" href="/baby-care/">Baby Care</a>
    <div class="baby-care dropdown small" aria-labelledby="babyCareDropdown">
        <div class="style image-top">
            <div class="dropdown-image"></div>
            <nav role="navigation" aria-label="Baby Care" itemscope itemtype="http://www.schema.org/SiteNavigationElement">
                <ul>
                    <li itemprop="name">
                        <a itemprop="url" href="/baby-care/baby-wash/">Baby Wash</a>
                    </li>
                    <li itemprop="name">
                        <a itemprop="url" href="/baby-care/balms/">Balms</a>
                    </li>
                    <li itemprop="name">
                        <a itemprop="url" href="/baby-care/oils/">Oils</a>
                    </li>
                    <li itemprop="name">
                        <a itemprop="url" href="/baby-care/lotions/">Lotions</a>
                    </li>
                    <li itemprop="name">
                        <a itemprop="url" href="/baby-care/dental/">Dental</a>
                    </li>
                </ul>
                <ul>
                    <li itemprop="name">
                        <a itemprop="url" href="/baby-care/repellents/">Repellents</a>
                    </li>
                    <li itemprop="name">
                        <a itemprop="url" href="/baby-care/first-aid/">First Aid</a>
                    </li>
                    <li itemprop="name">
                        <a itemprop="url" href="/baby-care/sunscreens/">Sunscreens</a>
                    </li>
                    <li itemprop="name">
                        <a itemprop="url" href="/baby-care/bundles/">Bundles</a>
                    </li>
                    <li itemprop="name">
                        <a itemprop="url" href="/baby-care/accessories/">Accessories</a>
                    </li>
                </ul>
                <ul>
                    <li itemprop="name">
                        <a itemprop="url" href="/baby-care/">All Baby Care</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</li>
