
<li itemprop="name">
    <a role="button" itemprop="url" id="babyFoodDropdown" aria-haspopup="true" aria-expanded="false" href="/baby-food/">Baby Food</a>
    <div class="baby-food dropdown extra" aria-labelledby="babyFoodDropdown">
        <div class="style image-left">
            <div class="dropdown-image">
                <!--<p class="mt-auto text-white text-center font-weight-bold lead pb-3 subheader" style="text-shadow: -1px -1px 1px rgba(0,0,0,0.5), 1px 1px 1px rgba(0,0,0,0.5), 1px 1px 5px #000;">
                    Wholesome and Nutritious
                </p>-->
            </div>
            <nav role="navigation" aria-label="Baby Food" itemscope itemtype="http://www.schema.org/SiteNavigationElement">
                <ul>
                    <li itemprop="name">
                        <a itemprop="url" href="/goat-milk/">Goat Milk</a>
                    </li>
                    <li itemprop="name">
                        <a itemprop="url" href="/baby-food/porridge/">Porridge &amp; Cereals</a>
                    </li>
                    <li itemprop="name">
                        <a itemprop="url" href="/baby-food/fruit-vegetable-purees/">Fruit &amp; Veggie Purees</a>
                    </li>
                    <li itemprop="name">
                        <a itemprop="url" href="/baby-food/meat-fish-purees/">Meat &amp; Fish Purees</a>
                    </li>
                    <li itemprop="name">
                        <a itemprop="url" href="/baby-food/snacks-teas/">Snacks and Teas</a>
                    </li>
                    <li itemprop="name">
                        <a itemprop="url" href="/baby-food/storage-accessories/">Storage and Accessories</a>
                    </li>
                </ul>
                <ul>
                    <li itemprop="name">
                        <a itemprop="url" href="/baby-food/">All Baby Food</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</li>
