
<li role="none">
    <span itemprop="name"><a role="menuitem" aria-haspopup="true" aria-expanded="false" tabindex="-1" itemprop="url" href="/baby-care/">Baby Care</a></span>
    <div class="baby-care dropdown small">
        <div class="style image-top">
            <div class="dropdown-image"></div>
            <div class="menu" role="menu" aria-label="Baby Care" itemscope itemtype="http://www.schema.org/SiteNavigationElement">
                <ul role="none">
                    <li role="none" itemprop="name">
                        <a role="menuitem" tabindex="-1" itemprop="url" href="/baby-care/baby-wash/">Baby Wash</a>
                    </li>
                    <li role="none" itemprop="name">
                        <a role="menuitem" tabindex="-1" itemprop="url" href="/baby-care/balms/">Balms</a>
                    </li>
                    <li role="none" itemprop="name">
                        <a role="menuitem" tabindex="-1" itemprop="url" href="/baby-care/oils/">Oils</a>
                    </li>
                    <li role="none" itemprop="name">
                        <a role="menuitem" tabindex="-1" itemprop="url" href="/baby-care/lotions/">Lotions</a>
                    </li>
                    <li role="none" itemprop="name">
                        <a role="menuitem" tabindex="-1" itemprop="url" href="/baby-care/dental/">Dental</a>
                    </li>
                </ul>
                <ul  role="none">
                    <li role="none" itemprop="name">
                        <a role="menuitem" tabindex="-1" itemprop="url" href="/baby-care/repellents/">Repellents</a>
                    </li>
                    <li role="none" itemprop="name">
                        <a role="menuitem" tabindex="-1" itemprop="url" href="/baby-care/first-aid/">First Aid</a>
                    </li>
                    <li role="none" itemprop="name">
                        <a role="menuitem" tabindex="-1" itemprop="url" href="/baby-care/sunscreens/">Sunscreens</a>
                    </li>
                    <li role="none" itemprop="name">
                        <a role="menuitem" tabindex="-1" itemprop="url" href="/baby-care/bundles/">Bundles</a>
                    </li>
                    <li role="none" itemprop="name">
                        <a role="menuitem" tabindex="-1" itemprop="url" href="/baby-care/accessories/">Accessories</a>
                    </li>
                </ul>
                <ul role="none">
                    <li role="none" itemprop="name">
                        <a role="menuitem" tabindex="-1" itemprop="url" href="/baby-care/">All Baby Care</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</li>
