
<li itemprop="name">
    <a role="button" itemprop="url" id="clothesDropdown" aria-haspopup="true" aria-expanded="false" href="/clothes/">Clothes</a>
    <div class="clothes dropdown large" aria-labelledby="clothesDropdown">
        <div class="style image-left">
            <div class="dropdown-image">
                <!--<p class="mt-auto text-white text-center font-weight-bold lead pb-3 subheader" style="text-shadow:1px 1px 5px rgba(0, 0, 0, 0.5);">
                    Native Organic Cotton
                </p>-->
            </div>
            <nav role="navigation" aria-label="Clothes" itemscope="" itemtype="http://www.schema.org/SiteNavigationElement">
                <ul>
                    <li itemprop="name">
                        <a itemprop="url" href="/clothes/blankets/">Blankets</a>
                    </li>
                    <li itemprop="name">
                        <a itemprop="url" href="/clothes/bodysuits/">Bodysuits</a>
                    </li>
                    <li itemprop="name">
                        <a itemprop="url" href="/clothes/bibs-burp-cloths/">Bibs &amp; Burp Cloths</a>
                    </li>
                    <li itemprop="name">
                        <a itemprop="url" href="/clothes/pajamas-sleepwear/">Pajamas &amp; Sleepwear</a>
                    </li>
                    <li itemprop="name">
                        <a itemprop="url" href="/clothes/shirts-pants/">Shirts &amp; Pants</a>
                    </li>
                    <li itemprop="name">
                        <a itemprop="url" href="/clothes/bundles/">Bundles</a>
                    </li>
                    <li itemprop="name">
                        <a itemprop="url" href="/clothes/accessories/">Accessories</a>
                    </li>
                </ul>
                <ul>
                    <li itemprop="name">
                        <a itemprop="url" href="/clothes/">All Clothes</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</li>
