
<li itemprop="name">
    <a role="button" itemprop="url" id="clothesDropdown" aria-haspopup="true" aria-expanded="false" href="/clothes/">Clothes</a>
    <div class="clothes dropdown large" aria-labelledby="clothesDropdown">
        <div class="style">
            <div class="row m-0">
                <div class="col-6 m-0 p-0">
                    <div class="w-100 h-100 dropdown-image-left d-flex justify-content-center align-items-end">
                        <p class="mt-auto text-white text-center font-weight-bold lead pb-3 subheader" style="text-shadow:1px 1px 5px rgba(0, 0, 0, 0.5);">
                            Native Organic Cotton
                        </p>
                    </div>
                </div>
                <ul class="col-6 m-0 p-5 list-unstyled" role="navigation" aria-label="Clothes" itemscope="" itemtype="http://www.schema.org/SiteNavigationElement">
                    <li itemprop="name">
                        <a itemprop="url" href="/clothes/blankets/">Blankets</a>
                    </li>
                    <li itemprop="name">
                        <a itemprop="url" href="/clothes/bodysuits/">Bodysuits</a>
                    </li>
                    <li itemprop="name">
                        <a itemprop="url" href="/clothes/bibs-burp-cloths/">Bibs &amp; Burp Cloths</a>
                    </li>
                    <li itemprop="name">
                        <a itemprop="url" href="/clothes/pajamas-sleepwear/">Pajamas &amp; Sleepwear</a>
                    </li>
                    <li itemprop="name">
                        <a itemprop="url" href="/clothes/shirts-pants/">Shirts &amp; Pants</a>
                    </li>
                    <li itemprop="name">
                        <a itemprop="url" href="/clothes/bundles/">Bundles</a>
                    </li>
                    <li itemprop="name">
                        <a itemprop="url" class="mb-0" href="/clothes/accessories/">Accessories</a>
                    </li>
                    <li class="text-right">
                        <a class="mt-5 mb-0 ui small button rounded-pill px-3 py-1 w-auto align-middle" href="/clothes/"><small>VIEW ALL <i class="fas fa-arrow-right"></i></small></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</li>