
<li role="none">
    <span itemprop="name"><a role="menuitem" aria-haspopup="true" aria-expanded="false" tabindex="-1" itemprop="url" href="/clothes/">Clothes</a></span>
    <div class="clothes dropdown large">
        <div class="style image-left">
            <div class="dropdown-image">
                <!--<p class="mt-auto text-white text-center font-weight-bold lead pb-3 subheader" style="text-shadow:1px 1px 5px rgba(0, 0, 0, 0.5);">
                    Native Organic Cotton
                </p>-->
            </div>
            <div class="menu" role="menu" aria-label="Clothes" itemscope itemtype="http://www.schema.org/SiteNavigationElement">
                <ul role="none">
                    <li role="none" itemprop="name">
                        <a role="menuitem" tabindex="-1" itemprop="url" href="/clothes/blankets/">Blankets</a>
                    </li>
                    <li role="none" itemprop="name">
                        <a role="menuitem" tabindex="-1" itemprop="url" href="/clothes/bodysuits/">Bodysuits</a>
                    </li>
                    <li role="none" itemprop="name">
                        <a role="menuitem" tabindex="-1" itemprop="url" href="/clothes/bibs-burp-cloths/">Bibs &amp; Burp Cloths</a>
                    </li>
                    <li role="none" itemprop="name">
                        <a role="menuitem" tabindex="-1" itemprop="url" href="/clothes/pajamas-sleepwear/">Pajamas &amp; Sleepwear</a>
                    </li>
                    <li role="none" itemprop="name">
                        <a role="menuitem" tabindex="-1" itemprop="url" href="/clothes/shirts-pants/">Shirts &amp; Pants</a>
                    </li>
                    <li role="none" itemprop="name">
                        <a role="menuitem" tabindex="-1" itemprop="url" href="/clothes/bundles/">Bundles</a>
                    </li>
                    <li role="none" itemprop="name">
                        <a role="menuitem" tabindex="-1" itemprop="url" href="/clothes/accessories/">Accessories</a>
                    </li>
                </ul>
                <ul role="none">
                    <li role="none" itemprop="name">
                        <a role="menuitem" tabindex="-1" itemprop="url" href="/clothes/">All Clothes</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</li>
