<li role="none">
    <span itemprop="name"><a role="menuitem" aria-haspopup="true" aria-expanded="false" tabindex="-1" itemprop="url" href="/diapers/">Diapers</a></span>
    <div class="diapers dropdown extra">
        <div class="style image-left">
            <div class="dropdown-image">
                <!--<p class="m-auto text-white text-center font-weight-bold lead p-3">
                </p>-->
            </div>
            <div  class="menu" role="menu" aria-label="Diapers" itemscope itemtype="http://www.schema.org/SiteNavigationElement">
                <ul role="none">
                    <li role="none">
                        Shop by Size
                    </li>
                    <li role="none" itemprop="name">
                        <a role="menuitem" tabindex="-1" itemprop="url" href="/diapers/sizes-0-1/">Sizes 0 and 1 <small>(6-14 lb)</small></a>
                    </li>
                    <li role="none" itemprop="name">
                        <a role="menuitem" tabindex="-1" itemprop="url" href="/diapers/sizes-2-3/">Sizes 2 and 3 <small>(12-28 lb)</small></a>
                    </li>
                    <li role="none" itemprop="name">
                        <a role="menuitem" tabindex="-1" itemprop="url" href="/diapers/sizes-4-5/">Sizes 4 and 5 <small>(22-37 lb)</small></a>
                    </li>
                    <li role="none" itemprop="name">
                        <a role="menuitem" tabindex="-1" itemprop="url" href="/diapers/sizes-6-plus/">Sizes 6 and up <small>(33+ lb)</small></a>
                    </li>
                </ul>
                <ul role="none">
                    <li role="none" itemprop="name">
                        <a role="menuitem" tabindex="-1" itemprop="url" href="/diapers/">All Diapers</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</li>
