<li itemprop="name">
    <a role="button" itemprop="url" id="diapersDropdown" aria-haspopup="true" aria-expanded="false" href="/diapers/">Diapers</a>
    <div class="diapers dropdown extra" aria-labelledby="diapersDropdown">
        <div class="style">
            <div class="row m-0">
                <div class="col-7 m-0 p-0">
                    <div class="w-100 h-100 dropdown-image-left d-flex justify-content-center align-items-center">
                        <p class="m-auto text-white text-center font-weight-bold lead p-3">
                        </p>
                    </div>
                </div>
                <ul class="col-5 m-0 p-5 list-unstyled" role="navigation" aria-label="Diapers" itemscope="" itemtype="http://www.schema.org/SiteNavigationElement">
                    <li class="dropdown-header p-0 mt-3">
                        Shop by Size
                    </li>
                    <li itemprop="name">
                        <a itemprop="url" href="/diapers/sizes-0-1/">Sizes 0 and 1 <small>(6-14 lb)</small></a>
                    </li>
                    <li itemprop="name">
                        <a itemprop="url" href="/diapers/sizes-2-3/">Sizes 2 and 3 <small>(12-28 lb)</small></a>
                    </li>
                    <li itemprop="name">
                        <a itemprop="url" href="/diapers/sizes-4-5/">Sizes 4 and 5 <small>(22-37 lb)</small></a>
                    </li>
                    <li itemprop="name">
                        <a itemprop="url" class="mb-0" href="/diapers/sizes-6-plus/">Sizes 6 and up <small>(33+ lb)</small></a>
                    </li>
                    <li class="text-right">
                        <a class="mt-5 mb-0 ui small button rounded-pill px-3 py-1 w-auto align-middle" href="/diapers/"><small>VIEW ALL <i class="fas fa-arrow-right"></i></small></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</li>