<li itemprop="name">
    <a role="button" itemprop="url" id="diapersDropdown" aria-haspopup="true" aria-expanded="false" href="/diapers/">Diapers</a>
    <div class="diapers dropdown extra" aria-labelledby="diapersDropdown">
        <div class="style image-left">
            <div class="dropdown-image">
                <!--<p class="m-auto text-white text-center font-weight-bold lead p-3">
                </p>-->
            </div>
            <nav role="navigation" aria-label="Diapers" itemscope="" itemtype="http://www.schema.org/SiteNavigationElement">
                <ul>
                    <li class="dropdown-header p-0 mt-3">
                        Shop by Size
                    </li>
                    <li itemprop="name">
                        <a itemprop="url" href="/diapers/sizes-0-1/">Sizes 0 and 1 <small>(6-14 lb)</small></a>
                    </li>
                    <li itemprop="name">
                        <a itemprop="url" href="/diapers/sizes-2-3/">Sizes 2 and 3 <small>(12-28 lb)</small></a>
                    </li>
                    <li itemprop="name">
                        <a itemprop="url" href="/diapers/sizes-4-5/">Sizes 4 and 5 <small>(22-37 lb)</small></a>
                    </li>
                    <li itemprop="name">
                        <a itemprop="url" href="/diapers/sizes-6-plus/">Sizes 6 and up <small>(33+ lb)</small></a>
                    </li>
                </ul>
                <ul>
                    <li itemprop="name">
                        <a itemprop="url" href="/diapers/">All Diapers</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</li>
