
<li role="none">
    <span itemprop="name"><a role="menuitem" aria-haspopup="true" aria-expanded="false" itemprop="url" href="/mommy/">Mommy</a></span>
    <div class="mommy dropdown small">
        <div class="style image-top">
            <div class="dropdown-image"></div>
            <div class="menu" role="menu" aria-label="Mommy" itemscope itemtype="http://www.schema.org/SiteNavigationElement">
                <ul role="none">
                    <li role="none" itemprop="name">
                        <a role="menuitem" tabindex="-1" itemprop="url" href="/mommy/body-wash/">Body Wash</a>
                    </li>
                    <li role="none" itemprop="name">
                        <a role="menuitem" tabindex="-1" itemprop="url" href="/mommy/balms/">Balms</a>
                    </li>
                    <li role="none" itemprop="name">
                        <a role="menuitem" tabindex="-1" itemprop="url" href="/mommy/lotions/">Lotions</a>
                    </li>
                    <li role="none" itemprop="name">
                        <a role="menuitem" tabindex="-1" itemprop="url" href="/mommy/teas/">Teas</a>
                    </li>
                    <li role="none" itemprop="name">
                        <a role="menuitem" tabindex="-1" itemprop="url" href="/mommy/bundles/">Bundles</a>
                    </li>
                </ul>
                <ul role="none">
                    <li role="none">
                        Shop By Stage
                    </li>
                    <li role="none" itemprop="name">
                        <a role="menuitem" tabindex="-1" itemprop="url" href="/mommy/prenatal/">Prenatal</a>
                    </li>
                    <li role="none" itemprop="name">
                        <a role="menuitem" tabindex="-1" itemprop="url" href="/mommy/post-partum/">Post-Partum</a>
                    </li>
                    <li role="none" itemprop="name">
                        <a role="menuitem" tabindex="-1" itemprop="url" href="/mommy/breast-feeding/">Breast-Feeding</a>
                    </li>
                </ul>
                <ul role="none">
                    <li role="none" itemprop="name">
                        <a role="menuitem" tabindex="-1" itemprop="url" href="/mommy/">All Mommy Care</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</li>
