
<li itemprop="name">
    <a role="button" itemprop="url" id="mommyDropdown" aria-haspopup="true" aria-expanded="false" href="/mommy/">Mommy</a>
    <div class="mommy dropdown small" aria-labelledby="mommyDropdown">
        <div class="style">
            <div class="w-100 h-100 dropdown-image-top d-flex justify-content-center align-items-center p-5">
                <p class="m-auto text-white text-center font-weight-bold lead p-5">

                </p>
            </div>
            <div class="p-5">
                <nav class="row" role="navigation" aria-label="Mommy" itemscope="" itemtype="http://www.schema.org/SiteNavigationElement">
                    <ul class="col m-0 list-unstyled">
                        <li itemprop="name">
                            <a itemprop="url" class="dropdown-item p-0" href="/mommy/body-wash/">Body Wash</a>
                        </li>
                        <li itemprop="name">
                            <a itemprop="url" class="dropdown-item p-0" href="/mommy/balms/">Balms</a>
                        </li>
                        <li itemprop="name">
                            <a itemprop="url" class="dropdown-item p-0" href="/mommy/lotions/">Lotions</a>
                        </li>
                        <li itemprop="name">
                            <a itemprop="url" class="dropdown-item p-0" href="/mommy/teas/">Teas</a>
                        </li>
                        <li itemprop="name">
                            <a itemprop="url" class="dropdown-item p-0 mb-0" href="/mommy/bundles/">Bundles</a>
                        </li>
                    </ul>
                    <ul class="col m-0 list-unstyled">
                        <li class="dropdown-header p-0">
                            Shop By Stage
                        </li>
                        <li itemprop="name">
                            <a itemprop="url" class="dropdown-item p-0" href="/mommy/prenatal/">Prenatal</a>
                        </li>
                        <li itemprop="name">
                            <a itemprop="url" class="dropdown-item p-0" href="/mommy/post-partum/">Post-Partum</a>
                        </li>
                        <li itemprop="name">
                            <a itemprop="url" class="dropdown-item p-0 mb-0" href="/mommy/breast-feeding/">Breast-Feeding</a>
                        </li>
                    </ul>
                </nav>
                <div class="text-right">
                    <a class="dropdown-item p-0 mt-5 mb-0 ui small button rounded-pill px-3 py-1 w-auto align-middle" href="/mommy/"><small>VIEW ALL <i class="fas fa-arrow-right"></i></small></a>
                </div>
            </div>
        </div>
    </div>
</li>