
<li itemprop="name">
    <a role="button" itemprop="url" id="mommyDropdown" aria-haspopup="true" aria-expanded="false" href="/mommy/">Mommy</a>
    <div class="mommy dropdown small" aria-labelledby="mommyDropdown">
        <div class="style image-top">
            <div class="dropdown-image"></div>
            <nav role="navigation" aria-label="Mommy" itemscope="" itemtype="http://www.schema.org/SiteNavigationElement">
                <ul>
                    <li itemprop="name">
                        <a itemprop="url" href="/mommy/body-wash/">Body Wash</a>
                    </li>
                    <li itemprop="name">
                        <a itemprop="url" href="/mommy/balms/">Balms</a>
                    </li>
                    <li itemprop="name">
                        <a itemprop="url" href="/mommy/lotions/">Lotions</a>
                    </li>
                    <li itemprop="name">
                        <a itemprop="url" href="/mommy/teas/">Teas</a>
                    </li>
                    <li itemprop="name">
                        <a itemprop="url" href="/mommy/bundles/">Bundles</a>
                    </li>
                </ul>
                <ul>
                    <li class="dropdown-header p-0">
                        Shop By Stage
                    </li>
                    <li itemprop="name">
                        <a itemprop="url" href="/mommy/prenatal/">Prenatal</a>
                    </li>
                    <li itemprop="name">
                        <a itemprop="url" href="/mommy/post-partum/">Post-Partum</a>
                    </li>
                    <li itemprop="name">
                        <a itemprop="url" href="/mommy/breast-feeding/">Breast-Feeding</a>
                    </li>
                </ul>
                <ul>
                    <li itemprop="name">
                        <a itemprop="url" href="/mommy/">All Mommy Care</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</li>
