<li itemprop="name">
    <a role="button" itemprop="url" id="toysDropdown" aria-haspopup="true" aria-expanded="false" href="/toys/">Toys</a>
    <div class="toys dropdown small" aria-labelledby="toysDropdown">
        <div class="style image-top">
            <div class="dropdown-image">
                <!--<p class="m-auto text-white text-center font-weight-bold lead p-3">
                </p>-->
            </div>
            <nav role="navigation" aria-label="Toys" itemscope="" itemtype="http://www.schema.org/SiteNavigationElement">
                <ul>
                    <li>
                        Shop by Brand
                    </li>
                    <li itemprop="name">
                        <a itemprop="url" href="/brands/rubbabu">Rubbabu</small></a>
                    </li>
                    <li itemprop="name">
                        <a itemprop="url" href="/brands/crinkle-cloth">Crinkle Cloth</a>
                    </li>
                    <li itemprop="name">
                        <a itemprop="url" href="#" disabled="disabled" aria-disabled="true">Mitteez</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        Shop by Age
                    </li>
                    <li itemprop="name">
                        <a itemprop="url" href="/toys/">0 to 12 Months</a>
                    </li>
                    <li itemprop="name">
                        <a itemprop="url" href="/toys/">1 to 3 Years</a>
                    </li>
                </ul>
                <ul>
                    <li itemprop="name">
                        <a itemprop="url" href="/toys/">All Baby Toys</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</li>
