<li role="none">
    <span itemprop="name"><a role="menuitem" aria-haspopup="true" aria-expanded="false" tabindex="-1" itemprop="url" href="/toys/">Toys</a></span>
    <div class="toys dropdown small">
        <div class="style image-top">
            <div class="dropdown-image">
                <!--<p class="m-auto text-white text-center font-weight-bold lead p-3">
                </p>-->
            </div>
            <div class="menu" role="menu" aria-label="Toys" itemscope itemtype="http://www.schema.org/SiteNavigationElement">
                <ul role="none">
                    <li role="none">
                        Shop by Brand
                    </li>
                    <li role="none" itemprop="name">
                        <a role="menuitem" itemprop="url" href="/brands/rubbabu">Rubbabu</small></a>
                    </li>
                    <li role="none" itemprop="name">
                        <a role="menuitem" itemprop="url" href="/brands/crinkle-cloth">Crinkle Cloth</a>
                    </li>
                    <li role="none" itemprop="name">
                        <a role="menuitem" itemprop="url" href="#" disabled="disabled" aria-disabled="true">Mitteez</a>
                    </li>
                </ul>
                <ul role="none">
                    <li role="none">
                        Shop by Age
                    </li>
                    <li role="none" itemprop="name">
                        <a role="menuitem" itemprop="url" href="/toys/">0 to 12 Months</a>
                    </li>
                    <li role="none" itemprop="name">
                        <a role="menuitem" itemprop="url" href="/toys/">1 to 3 Years</a>
                    </li>
                </ul>
                <ul role="none">
                    <li role="none" itemprop="name">
                        <a role="menuitem" itemprop="url" href="/toys/">All Baby Toys</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</li>
